<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="outlined" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 71.2 71.2" style="enable-background:new 0 0 71.2 71.2;" xml:space="preserve" class="ProductSealsSVG">
<style type="text/css">
	.st0{fill:#231F20;}
	.st1{clip-path:url(#SVGID_2_);}
	.st2{fill:none;stroke:#231F20;stroke-width:0.86;stroke-linejoin:round;}
</style>
<title>Product_Seals_RealHempCream</title>
<path class="st0" d="M35.6,0.9c19.2,0,34.7,15.5,34.7,34.7c0,19.2-15.5,34.7-34.7,34.7c-19.2,0-34.7-15.5-34.7-34.7c0,0,0,0,0,0
	C0.9,16.4,16.4,0.9,35.6,0.9 M35.6,0C15.9,0,0,15.9,0,35.6s15.9,35.6,35.6,35.6s35.6-15.9,35.6-35.6c0,0,0,0,0,0
	C71.1,15.9,55.2,0,35.6,0z"/>
<g>
	<defs>
		<path id="SVGID_1_" d="M35.2,36L7.6,54.3L1.8,25L35.2,36z M69.3,25L36,36l27,18.3L69.3,25z"/>
	</defs>
	<clipPath id="SVGID_2_">
		<use xlink:href="#SVGID_1_"  style="overflow:visible;"/>
	</clipPath>
	<g class="st1">
		<path class="st0" d="M35.6,64.5c-16,0-29-13-29-29s13-29,29-29s29,13,29,29S51.6,64.5,35.6,64.5z M35.6,7.3
			C20,7.3,7.3,20,7.4,35.6S20,63.8,35.6,63.8c15.6,0,28.2-12.6,28.2-28.2C63.8,20,51.2,7.4,35.6,7.3z"/>
	</g>
</g>
<path class="st0" d="M10.2,17.6l4.3,2.6l-0.4,0.7l-2.6-1.6l1.5,2.5l-0.1,0.2L10,21.9l2.6,1.6l-0.4,0.7l-4.4-2.6l0.4-0.6l3.6,0.3
	l-2-3L10.2,17.6z"/>
<path class="st0" d="M16.2,16.5L15,17.7l0.7,1.2l-0.6,0.6l-2.6-4.6l0.6-0.7l4.8,2.2L17.4,17L16.2,16.5z M15.5,16.2l-1.9-0.9l1.1,1.8
	L15.5,16.2z"/>
<path class="st0" d="M20.3,11.5c0.9,1.3,0.8,2.6-0.2,3.3l-1.3,0.9h-0.1l-3-4l0.7-0.5l0.6-0.5C18.1,10,19.4,10.2,20.3,11.5z M19.6,12
	c-0.7-1-1.5-1.2-2.1-0.8l-0.6,0.4l2.2,3l0.6-0.4C20.2,13.8,20.3,13,19.6,12z"/>
<path class="st0" d="M25.2,11l0.3,0.6L23,12.9h-0.1l-2.2-4.5L21.4,8l1.9-0.9l0.3,0.6l-1.9,0.9l0.6,1.3L24,9l0.3,0.6l-1.7,0.8
	l0.7,1.4L25.2,11z"/>
<path class="st0" d="M33.2,4.5l-0.3,5.2l-0.9,0.2l-1.4-3.1l-0.2,3.4l-0.9,0.2l-2.1-4.8l0.9-0.1l1.5,3.8l0.2-3.8l0.7-0.1l0,0l1.5,3.5
	l0.2-4.1L33.2,4.5z"/>
<path class="st0" d="M35.9,4.6v5h-0.8v-5H35.9z"/>
<path class="st0" d="M40.9,5.7l-1.3-0.2l-0.5,4.3l-0.8-0.1l0.6-4.3l-1.3-0.2l0.1-0.7l2.1,0.2L41,5L40.9,5.7z"/>
<path class="st0" d="M46.4,6.5L45,11.3L44.2,11l0.6-2.2l-2-0.6l-0.7,2.2l-0.8-0.2l1.5-4.8l0.8,0.2l-0.6,2l2,0.6l0.6-2L46.4,6.5z"/>
<path class="st0" d="M51.1,14.6l-0.8-0.5l0.2-1.6c0.1-0.4-0.1-0.8-0.5-1l-0.2-0.1l-1.1,1.8l-0.7-0.4l2.7-4.3L51.5,9l0.7,0.4
	c0.7,0.4,1,1.3,0.6,2c0,0,0,0.1-0.1,0.1c-0.3,0.5-0.9,0.7-1.5,0.6c0.1,0.2,0.1,0.5,0.1,0.7L51.1,14.6z M50.8,11.3
	c0.4,0.2,0.9,0.1,1.2-0.3c0.2-0.4,0.1-0.9-0.3-1.2l-0.5-0.3l-0.9,1.4L50.8,11.3z"/>
<path class="st0" d="M54.6,16.8l-0.4,0.5L52,15.4l0,0l3.4-3.8l0.6,0.6l1.5,1.4L57,14l-1.5-1.4l-0.9,1l1.4,1.2l-0.5,0.5L54,14.2
	L53,15.4L54.6,16.8z"/>
<path class="st0" d="M57.5,19.3l-1-1.3l-1.3,0.5l-0.6-0.7l4.9-1.9l0.6,0.7l-2.9,4.4l-0.6-0.7L57.5,19.3z M57.9,18.7l1.2-1.8l-2,0.8
	L57.9,18.7z"/>
<path class="st0" d="M59.8,24.1l-0.6,0.3L57.8,22l4.4-2.4l0.4,0.7l-3.8,2.1L59.8,24.1z"/>
<path class="st0" d="M19.1,55.8l-3.5,3.7L15,58.8l1.6-1.7L15,55.7l-1.6,1.7l-0.6-0.6l3.5-3.7l0.6,0.6l-1.4,1.5l1.5,1.5l1.4-1.5
	L19.1,55.8z"/>
<path class="st0" d="M20.2,61.8l-0.4,0.6l-2.4-1.6h-0.1l2.8-4.2l0.7,0.4l1.7,1.1l-0.4,0.6l-1.7-1.1l-0.8,1.2l1.5,1l-0.4,0.6l-1.5-1
	l-0.9,1.3L20.2,61.8z"/>
<path class="st0" d="M27.7,60.5l-1.9,4.7L25,64.8l1.2-2.8L24,63.9l-0.3-0.1l-0.2-2.9l-1.2,2.8l-0.8-0.3l1.9-4.7l0.7,0.3l0.2,3.6
	l2.7-2.3L27.7,60.5z"/>
<path class="st0" d="M31.8,63c-0.1,0.8-0.9,1.4-1.7,1.3c-0.1,0-0.2,0-0.3-0.1l-0.7-0.1l-0.3,1.8L28,65.7l1-4.9l0.8,0.2l0.7,0.1
	c0.8,0.1,1.4,0.8,1.3,1.7C31.9,62.9,31.8,62.9,31.8,63z M31,62.8c0.1-0.4-0.1-0.9-0.5-1c-0.1,0-0.1,0-0.2,0l-0.5-0.1l-0.4,1.8
	l0.5,0.1c0.4,0.2,0.9-0.1,1.1-0.5C30.9,63,31,62.9,31,62.8z"/>
<path class="st0" d="M37.9,65h0.8c0,0.9-0.7,1.7-1.6,1.7c0,0-0.1,0-0.1,0c-1.2,0-2.1-0.8-2.2-2.5c-0.1-1.7,0.8-2.6,1.9-2.7
	c0.9-0.1,1.7,0.6,1.8,1.5c0,0,0,0.1,0,0.1h-0.8c-0.1-0.7-0.5-1-1-0.9c-0.5,0.1-1,0.6-1,2s0.6,1.9,1.2,1.9C37.7,66,37.8,65.7,37.9,65
	z"/>
<path class="st0" d="M44.2,65.5l-0.9,0.2l-0.9-1.3c-0.2-0.3-0.6-0.5-1-0.3h-0.2l0.4,2l-0.8,0.2l-1.1-4.9l0.8-0.2l0.8-0.2
	c0.8-0.2,1.6,0.2,1.8,1c0,0,0,0.1,0,0.1c0.1,0.6-0.1,1.2-0.6,1.4c0.2,0.1,0.4,0.3,0.6,0.5L44.2,65.5z M41.6,63.3
	c0.5-0.1,0.8-0.5,0.7-1s-0.5-0.8-1-0.7c0,0-0.1,0-0.1,0l-0.6,0.1l0.3,1.6L41.6,63.3z"/>
<path class="st0" d="M48.4,63.2l0.2,0.6l-2.7,1.1h-0.1L44,60.3l0.8-0.3l1.9-0.8l0.2,0.6L45,60.6l0.5,1.3l1.7-0.7l0.2,0.6l-1.7,0.7
	l0.6,1.5L48.4,63.2z"/>
<path class="st0" d="M51.8,60.6l-1.4,0.9l0.4,1.3L50,63.2l-1.3-5.1l0.8-0.5l4.1,3.4l-0.8,0.5L51.8,60.6z M51.3,60.1l-1.6-1.4l0.5,2
	L51.3,60.1z"/>
<path class="st0" d="M55,53.1l3.4,3.7l-0.6,0.6l-2-2.2l0.8,2.8l-0.2,0.2l-2.7-1l2.1,2.2l-0.6,0.6l-3.4-3.7l0.5-0.5l3.3,1.3l-1-3.4
	L55,53.1z"/>
<path class="st2" d="M35.3,42.9l-4.1-2.8c-2.9-1.9-6.7-1.9-9.6,0l-4.1,2.8l4.1,2.9c2.9,1.9,6.7,1.9,9.6,0L35.3,42.9z"/>
<path class="st2" d="M35.3,18.4l3.6,5.6c2.4,4.1,2.4,9.2,0,13.3l-3.6,5.6l-3.6-5.6c-2.3-4.1-2.3-9.1,0-13.3L35.3,18.4z"/>
<path class="st2" d="M19.8,27.4l6.1,1c4.2,0.9,7.5,4.2,8.4,8.4l1,6.1l-6.1-1c-4.2-0.9-7.5-4.2-8.4-8.4L19.8,27.4z"/>
<path class="st2" d="M35.3,42.9l4.1-2.8c2.9-1.8,6.7-1.8,9.6,0l4.1,2.8L49,45.8c-2.9,1.8-6.7,1.8-9.6,0L35.3,42.9z"/>
<path class="st2" d="M50.8,27.4l-6.1,1c-4.2,0.9-7.5,4.2-8.4,8.4l-1,6.1l6.1-1c4.2-0.9,7.5-4.2,8.4-8.4L50.8,27.4z"/>
</svg>
