<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="outlined" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 79.1 79.1" style="enable-background:new 0 0 79.1 79.1;" xml:space="preserve" class="ProductSealsSVG">
<style type="text/css">
	.st0{fill:#231F20;}
</style>
<title>Product_Seals_20gWholeGrains</title>
<path class="st0" d="M39.5,1c21.3,0,38.5,17.2,38.5,38.5c0,21.3-17.2,38.5-38.5,38.5C18.3,78.1,1,60.8,1,39.5c0,0,0,0,0,0
	C1,18.2,18.3,1,39.5,1 M39.5,0C17.7,0,0,17.7,0,39.5s17.7,39.5,39.5,39.5s39.5-17.7,39.5-39.5c0,0,0,0,0,0C79,17.7,61.3,0,39.5,0z"
	/>
<path class="st0" d="M21.3,10.2l3.3,4.5l-0.7,0.5l-2-2.7l0.5,3.2L22.1,16l-2.9-1.4l2,2.7l-0.8,0.5l-3.3-4.5l0.7-0.5l3.5,1.8
	l-0.7-3.9L21.3,10.2z"/>
<path class="st0" d="M27.7,11.6L26,12.4l0.2,1.5l-0.9,0.4l-0.7-5.8L25.6,8l4,4.3l-0.9,0.4L27.7,11.6z M27.1,11.1l-1.6-1.8l0.3,2.3
	L27.1,11.1z"/>
<path class="st0" d="M33.8,8.3c0.4,1.7-0.3,3-1.5,3.3L30.6,12h-0.1l-1.4-5.4L30,6.4l0.9-0.2C32.2,5.9,33.4,6.6,33.8,8.3z M32.8,8.6
	c-0.3-1.3-1.1-1.8-1.8-1.7l-0.8,0.2l1,4l0.8-0.2C32.8,10.8,33.2,9.9,32.8,8.6L32.8,8.6z"/>
<path class="st0" d="M39,9.9l0.1,0.8l-3.2,0.3h-0.1l-0.5-5.6l0.9-0.1l2.3-0.2l0.1,0.8L36.3,6l0.1,1.6l2-0.2l0.1,0.7l-2,0.2l0.2,1.8
	L39,9.9z"/>
<path class="st0" d="M49.4,6.4L47,11.6l-1-0.2l-0.2-3.7L44.2,11l-1-0.2l-0.3-5.8l1,0.2v4.5L45.7,6l0.8,0.1l0,0l0.2,4.2l1.8-4.2
	L49.4,6.4z"/>
<path class="st0" d="M52,7.4l-2,5.3l-0.9-0.3l2-5.2L52,7.4z"/>
<path class="st0" d="M56.7,10.4l-1.3-0.7l-2.2,4.3l-0.8-0.4l2.2-4.3l-1.3-0.6L53.6,8l2.1,1.1L57,9.8L56.7,10.4z"/>
<path class="st0" d="M62,13.3l-3.4,4.5l-0.7-0.6l1.5-2l-1.9-1.4l-1.5,2l-0.7-0.5l3.4-4.5l0.7,0.5L58,13.2l1.9,1.4l1.4-1.8L62,13.3z"
	/>
<path class="st0" d="M21.8,62.6l-4.9,3.1l-0.8-0.7l1.9-3.2l-3.2,2L14.1,63l2.9-5l0.7,0.7l-2.5,3.8l3.5-2.2l0.6,0.6l0,0l-2.1,3.6
	l3.8-2.5L21.8,62.6z"/>
<path class="st0" d="M26.1,65.2l-3,4.8l-0.8-0.5l1.4-2.2l-2-1.2l-1.3,2.2l-0.8-0.4l3-4.7l0.8,0.5l-1.2,2l2,1.3l1.2-2L26.1,65.2z"/>
<path class="st0" d="M30.2,69.9c-0.7,1.8-2,2.3-3.2,1.9s-1.8-1.7-1.1-3.5s2-2.3,3.2-1.9S30.9,68.1,30.2,69.9z M29.3,69.6
	c0.5-1.4,0.2-2.2-0.4-2.4s-1.4,0.1-2,1.5s-0.2,2.2,0.4,2.4S28.8,71,29.3,69.6z"/>
<path class="st0" d="M34.3,72.9l-0.2,0.7l-3-0.6l1.2-5.5l0.9,0.2l-1,4.8L34.3,72.9z"/>
<path class="st0" d="M39.3,73.3v0.8l-3.2-0.2H36l0.3-5.6l0.9,0.1l2.3,0.1v0.8l-2.3-0.1l-0.1,1.6l2.1,0.1l0,0.8l-2-0.1l-0.1,1.8
	L39.3,73.3z"/>
<path class="st0" d="M47.2,70.3l0.5,2.8l-0.6,0.1l-0.2-0.5c-0.2,0.5-0.7,0.8-1.2,0.9c-1.2,0.2-2.3-0.5-2.6-2.4s0.4-3,1.7-3.2
	c1-0.2,2,0.4,2.2,1.3c0,0,0,0.1,0,0.1l-0.9,0.2c-0.3-0.7-0.7-1-1.2-0.9S43.8,69.5,44,71s1,2,1.6,1.9s1-0.7,0.8-1.7l-0.9,0.2
	l-0.1-0.6L47.2,70.3z"/>
<path class="st0" d="M53.6,71.1l-1,0.4l-1.2-1.3c-0.3-0.3-0.8-0.4-1.2-0.2L50,70.1l0.8,2.1l-0.9,0.3L48,67.2l0.9-0.3l0.8-0.3
	c0.8-0.4,1.8,0,2.2,0.9c0,0,0,0.1,0,0.1c0.2,0.6,0,1.3-0.5,1.7c0.3,0.1,0.5,0.2,0.7,0.4L53.6,71.1z M50.4,69.1
	c0.5-0.1,0.8-0.7,0.6-1.2c-0.1-0.5-0.7-0.8-1.2-0.6c0,0-0.1,0-0.1,0l-0.6,0.2l0.6,1.7L50.4,69.1z"/>
<path class="st0" d="M56.8,67.8l-1.6,0.9l0.4,1.5l-0.8,0.5l-1.3-5.8l0.9-0.5l4.4,3.9L58,68.8L56.8,67.8z M56.3,67.2l-1.7-1.6
	l0.5,2.3L56.3,67.2z"/>
<path class="st0" d="M57.5,62.2l3.4,4.4l-0.7,0.6l-3.4-4.5L57.5,62.2z"/>
<path class="st0" d="M61.6,58.3l4,3.9l-0.5,0.5L60.6,62l2.7,2.6l-0.6,0.7l-4-3.9l0.5-0.5l4.5,0.7L61,59L61.6,58.3z"/>
<path class="st0" d="M31.8,31.6c0-2.8-1.5-5.5-5.5-5.5s-6,2.5-6.1,6.1h-3.1c0-5.6,3.9-8.8,9.2-8.8s8.8,3.3,8.8,8.2
	c0,9.8-13.7,11.1-14.4,17.5h14.5v2.7H16.7C16.7,40.9,31.8,40.7,31.8,31.6z"/>
<path class="st0" d="M56.3,37.9c0,8.8-3.5,14.4-9.6,14.4s-9.5-5.6-9.5-14.4s3.5-14.4,9.6-14.4S56.3,29.1,56.3,37.9z M53,37.9
	c0-7.3-2.1-11.7-6.1-11.7s-6.1,4.4-6.2,11.7s2.1,11.7,6.1,11.7S52.9,45.2,53,37.9L53,37.9z"/>
<path class="st0" d="M64.5,49.7c0,1.5-1.4,2.5-4,2.5c-2.3,0-3.2-0.9-3.2-2.1c0-0.6,0.2-1.2,0.7-1.6c-0.3-0.3-0.4-0.7-0.4-1.2
	c0-0.6,0.3-1.1,0.7-1.5c-0.4-0.4-0.7-1-0.6-1.6c0-1.6,1.3-2.5,2.9-2.5c0.8,0,1.6,0.2,2.2,0.7c0.4-0.5,1-0.7,1.7-0.7v1.5
	c-0.4,0-0.7,0.1-1,0.3c0.1,0.2,0.1,0.4,0.1,0.6c0,1.6-1.3,2.5-2.9,2.5c-0.5,0-1-0.1-1.5-0.3c-0.1,0.1-0.2,0.3-0.2,0.5
	c0,0.4,0.2,0.7,0.8,0.7l2.8,0.2C63.8,47.8,64.5,48.5,64.5,49.7z M62.8,49.9c0-0.4-0.3-0.6-1.3-0.7L59,49c-0.1,0.2-0.2,0.5-0.2,0.8
	c0,0.6,0.4,1.1,1.8,1.1S62.8,50.6,62.8,49.9z M59.1,44.2c-0.1,0.8,0.4,1.4,1.2,1.5c0.8,0.1,1.4-0.4,1.5-1.2c0.1-0.8-0.4-1.4-1.2-1.5
	c-0.1,0-0.1,0-0.2,0c-0.7-0.1-1.3,0.4-1.4,1.1C59.1,44,59.1,44.1,59.1,44.2z"/>
<path class="st0" d="M71,39.5c0,5.9-1.6,11.6-4.7,16.6l0.6,0.5c7.6-12.1,6.3-27.8-3.3-38.5l-0.5,0.5C68.2,24.4,71,31.8,71,39.5z"/>
<path class="st0" d="M8,39.5c0-7.7,2.9-15.1,8-20.9l-0.5-0.5C6,28.8,4.6,44.5,12.2,56.6l0.6-0.5C9.7,51.1,8,45.4,8,39.5z"/>
</svg>
