<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 79 79" style="enable-background:new 0 0 79 79;" xml:space="preserve" class="ProductSealsSVG">
	 <title>Product_Seals_16gWholeGrain</title>
<style type="text/css">
	.st0{fill:#231F20;}
	.st1{font-family:'AlergiaCondensed-Medium';}
	.st2{font-size:8px;}
	.st3{font-size:7.986px;}
	.st4{font-size:8.0244px;}
	.st5{font-size:8.0148px;}
	.st6{font-size:8.0335px;}
	.st7{font-size:8.018px;}
	.st8{font-size:7.9711px;}
	.st9{font-size:7.9848px;}
	.st10{font-family:'AlergiaNormal-Light';}
	.st11{font-size:40px;}
	.st12{font-family:'AlergiaWide-Medium';}
	.st13{font-size:14.01px;}
</style>
<g>
	<g id="clipped">
		<path class="st0" d="M39.5,1C60.8,1,78,18.2,78,39.5S60.8,78,39.5,78S1,60.8,1,39.5C1,18.2,18.2,1,39.5,1L39.5,1 M39.5,0
			C17.7,0,0,17.7,0,39.5S17.7,79,39.5,79C61.4,79,79,61.3,79,39.5C79,17.7,61.3,0,39.5,0z"/>
		<text transform="matrix(0.8068 -0.5909 0.5909 0.8068 20 18.0801)" class="st0 st1 st2">M</text>
		<text transform="matrix(0.9081 -0.4188 0.4188 0.9081 25.2399 14.36)" class="st0 st1 st2">A</text>
		<text transform="matrix(0.9689 -0.2473 0.2473 0.9689 29.91 12.22)" class="st0 st1 st2">D</text>
		<text transform="matrix(0.9968 -7.967700e-02 7.967700e-02 0.9968 35.1 10.95)" class="st0 st1 st2">E</text>
		<text transform="matrix(0.9817 0.1903 -0.1903 0.9817 41.7095 10.5594)" class="st0 st1 st3">W</text>
		<text transform="matrix(0.9371 0.3489 -0.3489 0.9371 48.6101 12.1198)" class="st0 st1 st4">I</text>
		<text transform="matrix(0.8884 0.4592 -0.4592 0.8884 50.9703 12.9603)" class="st0 st1 st5">T</text>
		<text transform="matrix(0.7983 0.6022 -0.6022 0.7983 54.7598 14.8599)" class="st0 st1 st2">H</text>
		<text transform="matrix(0.717 0.6971 -0.6971 0.717 13.0605 61.9196)" class="st0 st1 st6">W</text>
		<text transform="matrix(0.848 0.5299 -0.5299 0.848 19.0101 67.3999)" class="st0 st1 st2">H</text>
		<text transform="matrix(0.9323 0.3616 -0.3616 0.9323 24.62 70.77)" class="st0 st1 st2">O</text>
		<text transform="matrix(0.9778 0.2095 -0.2095 0.9778 30.5498 72.9191)" class="st0 st1 st7">L</text>
		<text transform="matrix(0.9981 6.104854e-02 -6.104854e-02 0.9981 35.29 73.85)" class="st0 st1 st2">E</text>
		<text transform="matrix(0.9835 -0.1807 0.1807 0.9835 43.0998 73.9696)" class="st0 st1 st8">G</text>
		<text transform="matrix(0.9383 -0.3458 0.3458 0.9383 49.3301 72.7201)" class="st0 st1 st2">R</text>
		<text transform="matrix(0.8658 -0.5005 0.5005 0.8658 54.69 70.6601)" class="st0 st1 st2">A</text>
		<text transform="matrix(0.7915 -0.6112 0.6112 0.7915 59.6401 67.6206)" class="st0 st1 st9">I</text>
		<text transform="matrix(0.6971 -0.717 0.717 0.6971 62.2303 65.7194)" class="st0 st1 st6">N</text>
		<text transform="matrix(0.98 2.565631e-03 -2.617991e-03 1 14.8167 51.8202)" class="st0 st10 st11">16</text>
		<text transform="matrix(0.9 0 0 1 56.9099 48.93)" class="st0 st12 st13">g</text>
		<path class="st0" d="M71,39.5c0,5.8-1.6,11.6-4.7,16.6l0.6,0.5c7.6-12.1,6.3-27.8-3.3-38.5L63,18.6C68.2,24.4,71,31.8,71,39.5z"/>
		<path class="st0" d="M8,39.5c0-7.7,2.9-15.1,8-20.9l-0.5-0.5C5.9,28.8,4.6,44.5,12.2,56.6l0.6-0.5C9.7,51.1,8,45.4,8,39.5z"/>
	</g>
</g>
</svg>
