<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.4, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" id="outlined" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 79.1 79.1" style="enable-background:new 0 0 79.1 79.1;" xml:space="preserve" class="ProductSealsSVG">
<style type="text/css">
	.st0{fill:#231F20;}
	.st1{fill:none;stroke:#231F20;stroke-miterlimit:10;}
</style>
<title>Product_Seals_Coffee_Iced</title>
<path class="st0" d="M39.5,1c21.3,0,38.5,17.2,38.5,38.5c0,21.3-17.2,38.5-38.5,38.5C18.3,78.1,1,60.8,1,39.5c0,0,0,0,0,0
	C1,18.2,18.3,1,39.5,1 M39.5,0C17.7,0,0,17.7,0,39.5s17.7,39.5,39.5,39.5s39.5-17.7,39.5-39.5c0,0,0,0,0,0C79,17.7,61.3,0,39.5,0z"
	/>
<path class="st0" d="M18.1,16.2c1.3,1.2,1.4,2.6,0.4,3.6l-1.2,1.3h-0.1l-4.1-3.9l0.6-0.7l0.6-0.6C15.4,15,16.8,15,18.1,16.2z
	 M17.4,16.9c-1-0.9-1.9-1-2.5-0.4l-0.6,0.6l3,2.8l0.6-0.6C18.5,18.8,18.4,17.8,17.4,16.9z"/>
<path class="st0" d="M23,14.9l0.5,0.6l-2.5,2l-0.1,0l-3.4-4.5l0.7-0.6l1.8-1.4l0.5,0.6l-1.8,1.4l1,1.2l1.6-1.2l0.5,0.6L20,15
	l1.1,1.4L23,14.9z"/>
<path class="st0" d="M26.6,12.9l0.4,0.7l-2.7,1.5l-2.7-4.9l0.8-0.5l2.4,4.2L26.6,12.9z"/>
<path class="st0" d="M26.3,7.8l2.2,5.1l-0.8,0.4l-2.2-5.1L26.3,7.8z"/>
<path class="st0" d="M32.8,8.5l0.8,2.8L33,11.4l-0.2-0.5c-0.2,0.5-0.6,0.9-1.1,1c-1.2,0.3-2.3-0.3-2.9-2.2s0.1-3,1.4-3.4
	c1-0.3,2,0.2,2.3,1.1c0,0,0,0.1,0,0.1l-0.9,0.2c-0.3-0.7-0.8-0.9-1.3-0.8c-0.7,0.2-1.1,0.9-0.7,2.4s1.2,1.9,1.8,1.7s1-0.8,0.6-1.8
	l-0.8,0.2L31.1,9L32.8,8.5z"/>
<path class="st0" d="M38.3,5.1l0.5,5.6l-0.9,0.1l-0.2-2.5l-2.4,0.2l0.2,2.5L34.6,11L34,5.5L35,5.4l0.2,2.3l2.3-0.2l-0.2-2.3
	L38.3,5.1z"/>
<path class="st0" d="M43.5,6l-1.4-0.1l-0.3,4.8h-0.9l0.3-4.8l-1.4-0.2l0-0.8l2.3,0.1l1.4,0.1L43.5,6z"/>
<path class="st0" d="M45.8,6.4l-0.3,1.7l2,0.4l-0.1,0.7l-2-0.4l-0.5,2.3L43.9,11L45,5.5l0.9,0.2L48,6.1l-0.1,0.7L45.8,6.4z"/>
<path class="st0" d="M53.4,7.9l-1.2,3.4c-0.4,1-1.5,1.6-2.6,1.2c-1-0.4-1.6-1.5-1.2-2.6l0,0l1.2-3.4l0.9,0.3l-1.2,3.3
	c-0.3,0.9-0.1,1.5,0.5,1.7s1.2-0.1,1.5-0.9l1.2-3.3L53.4,7.9z"/>
<path class="st0" d="M55.5,14.5l-0.4,0.7l-2.7-1.5l2.7-4.9L56,9.2l-2.4,4.2L55.5,14.5z"/>
<path class="st0" d="M61.5,12.9L58,17.3l-0.7-0.5l3.5-4.4L61.5,12.9z"/>
<path class="st0" d="M65.9,17.3l-4,3.9l-0.5-0.5l0.9-4.5l-2.7,2.6L59,18l4-3.9l0.5,0.5l-0.9,4.5l2.7-2.6L65.9,17.3z"/>
<path class="st0" d="M20.4,61.2l-3.8,4.1l-0.7-0.6l3.8-4.1L20.4,61.2z"/>
<path class="st0" d="M21.6,67l0.8,0.5c-0.6,0.8-1.7,1-2.6,0.4c0,0-0.1,0-0.1-0.1c-1.1-0.8-1.3-2.1-0.2-3.7c1.1-1.6,2.5-1.8,3.5-1
	c0.8,0.5,1.1,1.7,0.6,2.5c0,0,0,0,0,0l-0.7-0.5c0.3-0.7,0.2-1.2-0.2-1.5c-0.4-0.3-1.4-0.2-2.3,1c-0.9,1.2-0.8,2.1-0.2,2.5
	S21.1,67.5,21.6,67z"/>
<path class="st0" d="M26.3,70.6l-0.3,0.7l-2.9-1.4H23l2.5-5l0.8,0.4l2.1,1L28,67l-2.1-1l-0.7,1.4l1.9,0.9l-0.3,0.7L24.9,68l-0.8,1.6
	L26.3,70.6z"/>
<path class="st0" d="M32.5,70.5c-0.5,1.7-1.8,2.4-3,2L27.8,72h-0.1l1.6-5.4l0.9,0.3l0.9,0.3C32.3,67.6,33,68.9,32.5,70.5z
	 M31.5,70.2c0.4-1.3,0-2.2-0.7-2.4L30,67.6l-1.2,4l0.8,0.2C30.3,72,31.1,71.5,31.5,70.2L31.5,70.2z"/>
<path class="st0" d="M38.9,72.3h0.9c-0.1,1-0.9,1.8-1.9,1.7c0,0,0,0-0.1,0c-1.3-0.1-2.2-1.1-2.1-3s1.1-2.8,2.4-2.7
	c1,0,1.8,0.8,1.8,1.8c0,0,0,0.1,0,0.1H39c-0.1-0.8-0.4-1.1-1-1.1s-1.3,0.5-1.4,2.1s0.5,2.2,1.2,2.2S38.8,73.1,38.9,72.3z"/>
<path class="st0" d="M45.6,70.8c0.2,1.9-0.6,3-1.9,3.1s-2.4-0.7-2.6-2.6s0.6-3,1.9-3.1S45.3,68.8,45.6,70.8z M44.6,70.9
	c-0.2-1.5-0.8-2-1.5-2s-1.2,0.8-1,2.3s0.8,2,1.5,2S44.8,72.4,44.6,70.9L44.6,70.9z"/>
<path class="st0" d="M47.3,68.2l0.5,1.7l2-0.6L50,70l-2,0.6l0.7,2.3l-0.9,0.2l-1.6-5.3l0.9-0.2l2.1-0.6l0.2,0.7L47.3,68.2z"/>
<path class="st0" d="M51.1,66.9l0.7,1.6l1.9-0.8l0.3,0.7l-1.9,0.8l1,2.2l-0.8,0.4l-2.3-5.1l0.8-0.4l2-0.9l0.3,0.7L51.1,66.9z"/>
<path class="st0" d="M58.9,67.3l0.4,0.6l-2.7,1.7h-0.1l-3-4.8l0.8-0.5l2-1.2l0.4,0.6L54.8,65l0.8,1.3l1.8-1.1l0.4,0.6L56,67l0.9,1.5
	L58.9,67.3z"/>
<path class="st0" d="M62.8,64.1l0.5,0.6l-2.4,2.1h-0.1l-3.6-4.3l0.7-0.6l1.8-1.5l0.5,0.6l-1.8,1.5l1,1.2l1.6-1.3l0.5,0.6l-1.6,1.3
	l1.2,1.3L62.8,64.1z"/>
<path class="st0" d="M71,39.5c0,6.8-2.2,13.4-6.3,18.8l0.5,0.6c8.1-10.7,8.7-25.2,1.5-36.6l-0.6,0.5C69.4,27.8,71,33.6,71,39.5z"/>
<path class="st0" d="M8,39.5c0-5.9,1.7-11.7,4.8-16.7l-0.6-0.5c-7.2,11.3-6.6,25.9,1.5,36.6l0.5-0.6C10.2,52.9,8,46.3,8,39.5z"/>
<rect x="25.4" y="30.7" class="st1" width="27.3" height="2.7"/>
<polygon class="st1" points="48.5,60.8 30.3,60.8 28.4,33.4 50.3,33.4 "/>
<rect x="38.8" y="15.2" class="st0" width="1.2" height="15.5"/>
<path class="st1" d="M34.7,46.8h2.7c0.8,0,1.4,0.6,1.4,1.3c0,0,0,0,0,0.1v4.1l0,0h-4.1c-0.8,0-1.4-0.6-1.4-1.4l0,0v-2.7
	C33.3,47.4,33.9,46.8,34.7,46.8C34.6,46.8,34.7,46.8,34.7,46.8z"/>
<path class="st1" d="M38.8,52.3h4.1c0.8,0,1.4,0.6,1.4,1.4l0,0v2.7c0,0.8-0.6,1.4-1.3,1.4c0,0,0,0-0.1,0h-2.7
	c-0.8,0-1.4-0.6-1.4-1.4c0,0,0,0,0,0V52.3L38.8,52.3z"/>
<path class="st1" d="M41.4,39.2h2.7c0.8,0,1.4,0.6,1.4,1.4l0,0v2.7c0,0.8-0.6,1.4-1.4,1.4l0,0h-2.7c-0.8,0-1.4-0.6-1.4-1.4l0,0v-2.7
	C40,39.8,40.6,39.2,41.4,39.2C41.4,39.2,41.4,39.2,41.4,39.2z"/>
</svg>
