  

<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-CoffeeHot-Seal' -%}
{%- include '1925-Product-Soups-Seal' -%}
{%- include '1925-Product-NoSugar-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>Elmhurst Milked Cashews is barista-approved! Cashews strike us a happy little nut, unassuming and forever smiling. But don’t be fooled, these guys have a way of surprising. When we made cashew milk and sent it into town, we found it...in the coffee houses and cafés? That’s right. It foams wonderfully for lattes with a perfectly subtle flavor, leading us to an important question: do you cashew?</p>

<p>We have an idea. You should cashew, and treat yourself to a Milked Cashews™ sort of day: a pleasure in your morning coffee, an enriching glass in the afternoon, and a sauce recipe by evening.</p>

<p>Cashews are the only nut we source from outside of North America (Brazil). But this is done carefully, and, like all of our other products, Milked Cashews is Non-GMO project verified. Our supplier is also ETA (ethical trade audit) certified.</p>
</div>


