
<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-SteamerCreamer-Seal' -%}
{%- include '1925-Product-0Gums-Seal' -%}
{%- include '1925-Product-5Simple-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>Baristas. Who doesn’t admire these talented people behind the counter? Making beautiful rosettas. Pouring velvety cappuccinos. With our Elmhurst® Barista Editions, you can hone your skills at home. OK, so maybe you can’t do all that – but you can certainly learn.</p>

<p>It isn’t just for steaming to a microfoam, though. Barista Editions make delightful creamers and lighteners, for special coffee experiences awakening the beautiful simplicity of life. What’s even simpler: we’re using just 5 ingredients and no oils. From espresso bar to breakfast table, Elmhurst is your answer to all of coffee’s possibilities.</p>


</div>
