
<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-Smoothies-Seal' -%}
{%- include '1925-Product-Cereal-Seal' -%}
{%- include '1925-Product-5gProtein-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>We love almonds. They are positive little nuts, always pointing forward. We decided to pay a fitting tribute with Elmhurst Milked Almonds – an almond milk that actually tastes like almonds! Because it’s made with lots and lots of almonds. Up to four times as many per serving as the competition, in fact.</p>

<p>Our almond milk is creamy and full-bodied, right from the orchard. It is nutrient dense, too, with (count them) 5g of pure almond protein per glass. That’s fuel for your smoothie or cereal. Or, if you prefer, you can drink the power of positive almonds straight from the glass!</p>

<p>A few other great things about Milked Almonds: It’s Non-GMO Project verified, so no worries there. There is just 1g of saturated fat per glass. And it is solid in Vitamin E, with 5.9mg (39 percent of recommended daily value) per 8oz serving. 
</p>
</div>
