

<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-Smoothies-Seal' -%}
{%- include '1925-Product-CoffeeIced-Seal' -%}
{%- include '1925-Product-Cereal-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>Did you know walnuts, minus shells, are 65 percent fat? “That’s a lot of fat.” True…but we’ve learned, as a society, that not all fat is bad. Greasy potato chips are one thing. But there are healthy fats, like Omega 3, of which walnuts are one of the very best sources. Elmhurst’s HydroRelease™ method captures 1400mg natural ALA Omega 3 in each glass.</p>

<p>But don't stop with just drinking. Our walnut milk gives power to your oatmeal, adventure to your smoothies, and honest nutrition to anything. Use your imagination! Or just drink and enjoy for the creamy delight it is.</p>

<p>Also note that while China may be the world's top producer, the robust walnuts used in our walnut milk come from California 100 percent of time. They – like the product – are also non-GMO.</p>
</div>


