

<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-CoffeeIced-Seal' -%}
{%- include '1925-Product-Smoothies-Seal' -%}
{%- include '1925-Product-Cereal-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>Hazelnuts are part of the richness and flavor of life. Since they migrated from the Mediterranean to America we've been in love.  You'll know why when you try Elmhurst® Milked Hazelnuts. It’s irresistibly creamy, with a subtle chocolate undertone. With dairy-free nutrition, and a solid helping of healthy fats, who says you can’t have guilt-free indulgence?</p>

<p>What’s more, our hazelnut milk has just six simple ingredients – plus zero gums or stabilizers – of real taste. It’s delightful right from the glass (kid-approved, too), and a fantastic partner to your next iced coffee. True, hazelnuts might not solve all of the world’s problems – but they do make one’s day a little bit brighter. Love hazelnuts, and pass it on!</p>

<p>A few other great things about Milked Almonds: It’s Non-GMO Project verified, so no worries there. There is just 1g of saturated fat per glass. And it is solid in Vitamin E, with 2.9mg (19 percent of recommended daily value) per 8oz serving.</p>
</div>

