

<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">
<p>Oats were once dismissed as little more than a weed. But no longer. Since being carried to the Americas by Europeans, they have become an inseparable part of our landscape. This includes the Canadian prairie. It is from here – in the Red River valley of Manitoba – that we have sourced our oats. The result: a new tradition in a line that gave us oatmeal. We call it Elmhurst Milked Oats.</p>

<p>Oat milk may make the heart happy in more ways than one. Each glass of ours has 20 grams of whole grain. That’s why it bears the Whole Grain Council stamp, also signifying that 100% of the grain in our product is whole grain. You can drink our oat milk, couple it with oatmeal for a one-two punch, or try it in coffee. And it all happens with fewer ingredients, and more nutrition, than that other guy.</p>

</div>


