
<div class="one-whole" id="pdp_bottom-seals" style="margin-top:60px;display:flex;flex-direction: row;justify-content: space-around;">
{%- include '1925-Product-RealHempCream-Seal' -%}
{%- include '1925-Product-Omega3ALA-Seal' -%}
{%- include '1925-Product-0Gums-Seal' -%}
</div>


<div class="one-whole" id="pdp_bottom-text-content" style="margin-top:100px;">

</div>



 