<div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/No_added.svg?v=1676992025"></div>
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Dairy-Free.svg?v=1676992025"></div>
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Vegan.svg?v=1676992025"></div>
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Kosher.svg?v=1678211062"></div>
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/GlutenFree-Circle.svg?v=1678211118"></div>
      <div class="benefits_icon"><img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Non-GMO.svg?v=1677095139"></div>
    </div>