<section class="pillar"style="padding-top: 30px; font-size:16px;">
  <div class="bg_section ">
    <div class="page-width">
      <h2 id="" class="pillar text-center" style="color:#E95C2F; size:35px;" >COMPARE PLANT-BASED CHICKEN</h2>
      <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table" style="font-size:16px;">
        <thead>
          <tr>
            <th scope="col" class="" style="border-right:0;color:#E95C2F; text-align:left"></th>
            <th scope="col" style="color:#E95C2F;">PLANT BASED <br/>CHICKEN</th>
            <th scope="col" style="color:black;">BEYOND MEAT<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">IMPOSSIBLE</th>
            <th scope="col" style="color:black;">GARDEIN</th>
            <th scope="col" style="color:black;">AVERAGE CHICKEN<br/>BREAST</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align:left; color:#000;"># INGREDIENTS</th>
            <td style="color:#E95C2F; font-weight:600;">1</td>
            <td>40</td>
            <td>31</td>
            <td>19</td>
            <td>1</td>
            
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">SERVING SIZE*</th>
            <td style="color:#E95C2F; font-weight:600;">33g</td>
            <td>80g</td>
            <td>77g</td>
            <td>82g</td>
            <td>100g</td>
           
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">SODIUM*</th>
            <td style="color:#E95C2F; font-weight:600;">0mg</td>
            <td>450mg</td>
            <td>350mg</td>
            <td>410mg</td>
            <td>0mg</td>
            
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">TOTAL CARBS*</th>
            <td style="color:#E95C2F; font-weight:600;">1g</td>
            <td>15g</td>
            <td>15g</td>
            <td>3mg</td>
            <td>0g</td>
           
            
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">FILLERS</th>
            <td style="color:#E95C2F; font-weight:600;">26g</td>
            <td>13g</td>
            <td>10g</td>
            <td>17g</td>
            <td>22.5g</td>
            
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">FILLERS</th>
            <td style="color:#E95C2F; font-weight:600;">NONE</td>
            <td>Methylcellulose,<br>Modified Corn<br>Starch</td>
            <td>Methylcellulose,<br>Dextrose & <br>Modified Food<br>Starch</td>
            <td>Methylcellulose,<br> When Gluten, <br>Wheat Starch </td>
            <td>Poultry</td>
            
          </tr>

              
          
          
          </tbody>
      </table>
      </div>
    </div>
  </div>
 
