<div class="center-container" style="background-color: #E95C2F">
  <div class="section-header vegnews-container">
  
  <h1 class="vegnews">
   <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/TerraxElmhurst.png?v=1718207388" width="400px" style="vertical-align: text-bottom;" alt="Font, Violet, Material property, Magenta, Logo, Graphics, Brand, Electric blue, Trademark, Graphic design"> 
  </h1>
  
  </div></div>

  <style>

    .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
      padding-top: 30px;
      padding-bottom: 15px;
      
}

    
    .vegnews-container {
  display: flex;
  flex-direction: row;
      margin: 0px;
    
}


/* Media query for mobile devices */
@media (max-width: 600px) {
  .vegnews-container {
    flex-direction: column;
  }

}

    .main-content{
      padding-top: 0px;
      margin: 0px;
    }
  </style>