<section class="pillar product_table">
  <div class="bg_section ">
    <div class="page-width">
      <h2 id="" class="pillar text-center">What plant milk is best for you?</h2>
      <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table" style="margin-top:30px;font-size:16px">
        <thead>
          <tr>
            <th scope="col" class="" style="border-right:0;color:black; text-align:left">ELMHURST<br/>UNSWEETENED MILKS</th>
            <th scope="col" >ALMOND <br/>MILK</th>
            <th scope="col" style="color:black;">CASHEW<br/>MILK</th>
            <th scope="col" style="color:black;">OAT<br/>MILK</th>
            <th scope="col" style="color:black;">WALNUT<br/>MILK</th>
            <th scope="col" style="color:black;">HAZELNUT<br/>MILK</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align:left; color:#000;">PROTEIN*</th>
            <td>5g</td>
            <td>4g</td>
            <td>4g</td>
            <td>3g</td>
            <td>2g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">CALORIES*</th>
            <td>130</td>
            <td>130</td>
            <td>80</td>
            <td>120</td>
            <td>90</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">TOTAL FAT*</th>
            <td>11g</td>
            <td>10g</td>
            <td>1.5g</td>
            <td>11g</td>
            <td>9g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">CARBS*</th>
            <td>3g</td>
            <td>7g</td>
            <td>14g</td>
            <td>1g</td>
            <td>1g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">SUGAR*</th>
            <td>1g</td>
            <td>1g</td>
            <td>1g</td>
            <td>0g</td>
            <td>1g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">ADDED SUGAR*</th>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
            <td>0g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">SODIUM*</th>
            <td>5mg</td>
            <td>10mg</td>
            <td>120mg</td>
            <td>5mg</td>
            <td>5mg</td>
          </tr>

          <tr>
            <th style="text-align:left; color:#000;">KETO-FRIENDLY</th>
            <td class="tick">&#10003;</td>
            <td></td>
            <td></td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">PELO-FRIENDLY</th>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
            <td></td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">GLUTEN-FREE</th>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">WHOLE30</th>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
            <td></td>
            <td class="tick">&#10003;</td>
            <td class="tick">&#10003;</td>
          </tr>
          <tr class="no-bottom-border" style="background:transparent;">
            <th class="no-bottom-border" style="text-align:left; color:#000; max-width: 150px;    font-size: 14px;    font-weight: bold;">Daily values are based on a 2,000 calorie diet.</th>
            <td class="no-bottom-border"><a class="btn" href="/collections/all/products/unsweetened-milked-almonds" style="background: transparent;color: #2f4c2c;border: 2px solid;
        font-weight: bold;
    min-width: 150px;">SHOP NOW</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/all/products/unsweetened-milked-cashews" style="background: transparent;color: #2f4c2c;border: 2px solid;
        font-weight: bold;
    min-width: 150px;">SHOP NOW</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/all/products/unsweetened-milked-oats" style="background: transparent;color: #2f4c2c;border: 2px solid;
        font-weight: bold;
    min-width: 150px;">SHOP NOW</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/all/products/unsweetened-milked-walnuts" style="background: transparent;color: #2f4c2c;border: 2px solid;
        font-weight: bold;
    min-width: 150px;">SHOP NOW</a></td>
            <td class="no-bottom-border"><a class="btn" href="/collections/all/products/unsweetened-milked-hazelnuts" style="background: transparent;color: #2f4c2c;border: 2px solid;
        font-weight: bold;
    min-width: 150px;">SHOP NOW</a></td>
          </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
  <div class="text-center btn_section">
    <a class="btn" href="/collections/all">SHOP ALL</a>
  </div>
</section>
{% schema %}
  {
    "name": "Product Table",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
