<div class="text-center">
  <h1>
   <img src="{{ 'SOUR_CREAM_COMP_NQ_7.21.jpg' | file_img_url: 'master' }}" alt="Sour Cream Chart" class="small--hide lazyload no-print" style="width:90%;">
   <!-- <img src="{{ '' | file_img_url: 'master' }}" alt="Sour Cream Chart Mobile" class="medium-up--hide lazyload" style="width:100%;"> -->
  </h1>

</div>
