<section class="pillar"style="padding-top: 30px; font-size:16px;">
  <div class="bg_section ">
    <div class="page-width">
      <h2 id="" class="pillar text-center" style="color:#2f4c2c; size:35px;" >COMPARE SOUR CREAM</h2>
      <div id="table-scroll" class="table-scroll">
          <table id="main-table" class="main-table" style="font-size:16px;">
        <thead>
          <tr>
            <th scope="col" class="" style="border-right:0;color:black; text-align:left"></th>
            <th scope="col" >ELMHURST <br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">VIOLIFE<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">FOLLOW<BR/>YOUR HEART<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">KITE HILL<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">FORAGER<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">TOFUTTI<br/>SOUR CREAM</th>
            <th scope="col" style="color:black;">DAISY<br/>SOUR CREAM</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align:left; color:#000;"># INGREDIENTS</th>
            <td style="color:#2f4c2c; font-weight:600;">8</td>
            <td>14</td>
            <td>18</td>
            <td>9</td>
            <td>16</td>
            <td>11</td>
            <td>1</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">CALORIES*</th>
            <td style="color:#2f4c2c; font-weight:600;">60</td>
            <td>60</td>
            <td>90</td>
            <td>50</td>
            <td>35</td>
            <td>70</td>
            <td>60</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">CHOLESTROL*</th>
            <td style="color:#2f4c2c; font-weight:600;">0mg</td>
            <td>0mg</td>
            <td>0mg</td>
            <td>0mg</td>
            <td>0mg</td>
            <td>0mg</td>
            <td>20mg</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">SODIUM*</th>
            <td style="color:#2f4c2c; font-weight:600;">0mg</td>
            <td>120mg</td>
            <td>25mg</td>
            <td>15mg</td>
            <td>40mg</td>
            <td>80mg</td>
            <td>15mg</td>
            
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">TOTAL CARBS*</th>
            <td style="color:#2f4c2c; font-weight:600;"><1g</td>
            <td>2g</td>
            <td>2g</td>
            <td>2g</td>
            <td>2g</td>
              <td>3g</td>
              <td>1g</td>
          </tr>
          <tr>
            <th style="text-align:left; color:#000;">PROTEIN*</th>
            <td style="color:#2f4c2c; font-weight:600;">1g</td>
            <td>0g</td>
            <td>0g</td>
            <td>1g</td>
            <td>0g</td>
            <td>0g</td>
            <td>1g</td>
          </tr>

              <tr>
            <th style="text-align:left; color:#000;">GUMS & STARCHES</th>
            <td style="color:#2f4c2c; font-weight:600;">NONE</td>
            <td>Potato &<br/> Tapioca</td>
            <td>Tapioca, Gellan,<br/> Locust Bean & Guar</td>
            <td>Rice &<br/> Maltodextrin</td>
            <td>Guar & Tapioca</td>
            <td>Locust Bean,<br/> Guar & Xanthan</td>
            <td>Dairy</td>
          </tr>
          
          <tr class="no-bottom-border" style="background:transparent;">
            <th class="no-bottom-border" style="text-align:left; color:#000; max-width: 150px;    font-size: 14px;    font-weight: bold;">*Per 2 Tbsp serving</th>
            
          </tr>
          </tbody>
      </table>
      </div>
    </div>
  </div>
 
