<div class="center-container">
  <div class="section-header vegnews-container">
  <h1 class="vegnews">Welcome</h1>
  <h1 class="vegnews">
   <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/VegNewsLogo.webp?v=1683743597" width="200px" style="vertical-align: text-bottom;" alt="Font, Violet, Material property, Magenta, Logo, Graphics, Brand, Electric blue, Trademark, Graphic design"> 
  </h1>
  <h1 class="vegnews">Readers!</h1>
  </div></div>

  <style>

    .center-container {
  display: flex;
  justify-content: center;
  align-items: center;
/*   height: 100vh; /* Adjust the height if needed */ */
}
    
    .vegnews-container {
  display: flex;
  flex-direction: row;
    
}

.vegnews {
  margin-right: 10px; /* Adjust spacing between words */
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .vegnews-container {
    flex-direction: column;
  }

  .vegnews {
    display: block;
    margin-bottom: 10px; /* Adjust spacing between words */
    text-align: center;
  }
}
  </style>