body {
    text-rendering: optimizeLegibility;
    letter-spacing:1.25px;
}

h1 {
    text-transform: uppercase;
}

.rte {
  font-weight:300;
  font-size:20px;
}

.rte p {
  margin-bottom:35px;
}

.rte a:not(.btn) {
    border:none;
}

.blog-flex-container a:not(.btn), recipe-flex-container a:not(.btn) {
  text-decoration:underline;
}


.product__price {
    padding: .5rem 0;
    font-size:1.5rem;
}

.product-form {
    padding-top:1rem;
}



/*================ NAVIGATION ================*/

#SiteNav, #SiteNav button {
    text-transform: uppercase;
    font-size: 1.0rem;
    /* text-align: left; */
}

#SiteNavLabel-shop {
    font-size: 1.0rem;    
}

.site-header__contact,
.site-header__faq,
.site-header__locator,
.site-header__reference {
  position: relative;
}

.announcement-bar__message {
    text-transform: uppercase;
}

 span.mobile-nav__sublist-link.mobile-nav__sublist-header.mobile-nav__sublist-header--main-nav-parent { 
    background-color: black;
    color: white;
    font-weight: 600;
    text-decoration: underline;
 }
/*================ HOME PAGE ================*/


.homepage-styling{
    margin-top: -55px;
}

.homepage-instagram-message{
    font-weight: 600;
    line-height: 1.55;
    text-align: center;
    color: 000 !important;
}

.custom__item-inner.custom__item-inner--html {
    text-align: center;
}

div#shopify-section-1552926627929 .page-width {
    max-width:100%;
}

div#shopify-section-1552923350721, div#shopify-section-1552935183549{
    padding-bottom:0px;
}

div#shopify-section-1552926627929 {
    padding-top:35px;
}

div#shopify-section-1552926627929 .section-header{
    margin-bottom:30px;
    font-size: 1.5rem;
}

.homepage-instagram-message{
    padding-left:5px;
    padding-right:5px;
}
/*================ GRID VIEW ================*/

.flex-grid-item-blocks {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid--view-items {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

ul.grid.grid--uniform.grid--view-items {
    text-align:center;
}


/*================ FOOTER ================*/
.site-footer {
    background-color: #fff;
}

.site-footer__item h3.h4 {
    font-weight: 600;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.site-footer__linklist-item {
    font-size: 1.188rem;
}

@media only screen and (min-width: 750px){
    .site-footer__linklist-item {
        padding: 0 30px 10px 0;
    }

    /*
    #ContactFooter .input-group__btn {
        padding-left: 5px;
    } */
}

button#Subscribe {
    background-color: #000;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
}

.site-footer__icon-list {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding-top:30px;
}

.site-footer__icon-list a {
    color: #000;
}

.site-footer__item-inner--newsletter .newsletter__input {
    border: 3px solid #000;
}

.site-footer__copyright-content {
    font-size: 0.9375rem;
}



/*============ REDSEIGN =========== */

.underline:after {
      content:' ';
      display:block;
      margin-top:10px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    
@media only screen and (max-width: 749px){
    h1.content, .content-large {
        font-size:30px;
        color:#000000;
/*         text-transform: uppercase; */
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:60px;
    }

    h2.content-small, .content-small, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#000000;
      font-size:25px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
    }

    .page-width-blog-news-main h3, .page-width-recipe-news-main h3, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#2f4c2c;
      font-size:20px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
      font-family: "Source Sans Pro",sans-serif !important;
    }


    .pillar__header-text, .content__header-text {
      font-size:18px;
      font-weight:300;
      text-align:left;
      color:black;
      margin-bottom:60px;
    }

    section.pillar, section.content, #pdp_bottom-text-content {
    margin-bottom:40px;
    font-size:18px;
    font-weight:300;
    }

}

@media only screen and (min-width: 750px) and (max-width: 989px){
    h1.content, .content-large {
        font-size:40px;
        color:#000000;
/*         text-transform: uppercase; */
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:60px;
    }

    h2.content-small, .content-small, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#000000;
      font-size:25px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
    }

    .page-width-blog-news-main h3, .page-width-recipe-news-main h3, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#2f4c2c;
      font-size:20px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
      font-family: "Source Sans Pro",sans-serif !important;
    }


    .pillar__header-text, .content__header-text {
      font-size:20px;
      font-weight:400;
      text-align:center;
      color:#2f4c2c;
      margin-bottom:100px;
    }

    section.pillar, section.content, #pdp_bottom-text-content {
    margin-bottom:40px;
    font-size:20px;
    font-weight:300;
    }

}

@media only screen and (min-width: 990px){
    h1.content, .content-large {
        font-size:45px;
        color:#000000;
/*         text-transform: uppercase; */
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:60px;
    }

    .pillar__header-text, .content__header-text {
      font-size:25px;
      font-weight:600;
      text-align:center;
      color:#2f4c2c;
      margin-bottom:100px;
    }

    .section-header {
    margin-bottom:60px;
    }

    section.pillar {
        margin-bottom:80px;
        font-size:24px;
        font-weight:300;
    }

    section.content, #pdp_bottom-text-content {
    margin-bottom:30px;
    font-size:20px;
    font-weight:300;
    }

    h2.content-large {
      color:#2f4c2c;
      font-size:36px;
      text-transform: uppercase;
      font-weight:600;
    }

    h2.content-small, .content-small, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#000000;
      font-size:25px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
    }

    .page-width-blog-news-main h3, .page-width-recipe-news-main h3, .page-width-blog-news-main h2, .page-width-recipe-news-main h2 {
      color:#2f4c2c;
      font-size:20px;
      text-transform: uppercase;
      font-weight:600;
      margin-top:5px;
      margin-bottom:15px;
      font-family: "Source Sans Pro",sans-serif !important;
    }


}


.blog_summary_box {
  font-weight:600;
  padding:30px;
  background-color:#f5f5f5;
}


/*============ OUR STORY =========== */

@media only screen and (max-width: 749px){

    .content__our-story-header-text {
      font-size:18px;
      font-weight:300;
      text-align:left;
      color:black;
      margin-bottom:60px;
    }

    div.blockquote__our-story {
        padding:40px;
    }

    .blockquote__our-story {
        font-size:20px;
        line-height:1.5;
        position: relative;

    }

    blockquote.blockquote__our-story::before { 
    content: "\201C";
    font-weight: bold;
    font-size:50px;
    color:#2f4c2c;
    position: absolute; 
    top: -0.4em;
    left: -0.2em; 
    font-family: 'Source Sans Pro'; 
    } 
    blockquote.blockquote__our-story::after { 
    content: "\201D";
    font-weight: bold;
    font-size:50px;
    color:#2f4c2c;
    position: absolute; 
    bottom: -0.6em;
    right: 0; 
    font-family: 'Source Sans Pro'; 
    }

    .cheryl-quote {
        order:1;
    }
    


}

@media only screen and (min-width: 750px) and (max-width: 989px){

    div.blockquote__our-story {
        padding:50px;
    }

    .blockquote__our-story {
        font-size:24px;
        line-height:1.5;
        position: relative;
        
    }

    blockquote.blockquote__our-story::before { 
    content: "\201C";
    font-weight: bold;
    font-size:75px;
    color:#2f4c2c;
    position: absolute; 
    top: -0.4em;
    left: -0.2em; 
    font-family: 'Source Sans Pro'; 
    } 
    blockquote.blockquote__our-story::after { 
    content: "\201D";
    font-weight: bold;
    font-size:75px;
    color:#2f4c2c;
    position: absolute; 
    bottom: -0.6em;
    right: 0; 
    font-family: 'Source Sans Pro'; 
    }

}

@media only screen and (min-width: 990px) and (max-width: 1199px){

    div.blockquote__our-story {
        padding:50px;
    }

    .blockquote__our-story {
        font-size:24px;
        line-height:1.5;
        position: relative;
        
    }

    blockquote.blockquote__our-story::before { 
    content: "\201C";
    font-weight: bold;
    font-size:75px;
    color:#2f4c2c;
    position: absolute; 
    top: -0.4em;
    left: -0.2em; 
    font-family: 'Source Sans Pro'; 
    } 
    blockquote.blockquote__our-story::after { 
    content: "\201D";
    font-weight: bold;
    font-size:75px;
    color:#2f4c2c;
    position: absolute; 
    bottom: -0.6em;
    right: 0; 
    font-family: 'Source Sans Pro'; 
    }

}


@media only screen and (min-width: 1200px){

    .blockquote__our-story {
        font-size:30px;
        line-height:1.7;
        position: relative;
        text-align:left;
        
    }

    div.blockquote__our-story {
        padding:60px;
    }

    blockquote.blockquote__our-story::before { 
    content: "\201C";
    font-weight: bold;
    font-size:90px;
    color:#2f4c2c;
    position: absolute; 
    top: -0.4em;
    left: -0.4em; 
    font-family: 'Source Sans Pro'; 
    } 
    blockquote.blockquote__our-story::after { 
    content: "\201D";
    font-weight: bold;
    font-size:100px;
    color:#2f4c2c;
    position: absolute; 
    bottom: -0.7em;
    right: .8em; 
    font-family: 'Source Sans Pro'; 
    }

}

/*============ HEMP PILLAR =========== */
@media only screen and (max-width: 749px){

    h2.pillar {
      color:#2f4c2c;
      font-size:22px;
      text-transform: uppercase;
      font-weight:600;
    }

    h2.pillar:after {
      content:' ';
      display:block;
      margin-top:15px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h2.pillar.icecream:after {
      content:' ';
      display:block;
      margin-top:15px;
      margin-bottom:25px;
      border:1px solid black;
    }

    ul.pillar__toc li a{
      color:#2f4c2c;
      font-size:18px;
      text-decoration: none;
      font-weight:600;
    }

    hr.pillar-green-mobile {
        border-bottom:1px solid #2f4c2c;
        width:100%;
    }

    .page-content {
    letter-spacing:1.0px;
    line-height:1.7;
    }

    ul.footnotes li {
    font-size:12px;
    padding-bottom:15px;
    list-style:none;
    }

    ol.footnotes li {
    font-size:12px;
    padding-bottom:15px;
    list-style-position:inside;
    }




}

@media only screen and (min-width: 750px) and (max-width: 989px){

    h2.pillar {
      color:#2f4c2c;
      font-size:24px;
      text-transform: uppercase;
      font-weight:600;
    }

    h2.pillar:after {
      content:' ';
      display:block;
      margin-top:25px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h2.pillar.icecream:after {
      content:' ';
      display:block;
      margin-top:25px;
      margin-bottom:25px;
      border:1px solid black;
    }

    ul.pillar__toc li a{
      color:#2f4c2c;
      font-size:22px;
      text-decoration: none;
    }

    hr.pillar-green-mobile {
        display:none;
    }

    .pillar__side-image {
        margin-bottom:30px;
    }

    .page-content {
    letter-spacing:1.5px;
    line-height:2;
    }

    ol.footnotes li {
    font-size:14px;
    padding-bottom:15px;
    list-style-position:inside;
    }


}

@media only screen and (min-width: 990px) {

    h2.pillar{
      color:#2f4c2c;
      font-size:36px;
/*       text-transform: uppercase; */
      font-weight:600;
    }

    h2.pillar:after {
      content:' ';
      display:block;
      margin-top:25px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h2.pillar.icecream:after {
      content:' ';
      display:block;
      margin-top:25px;
      margin-bottom:25px;
      border:1px solid black;
    }

    ul.pillar__toc li a{
      color:#2f4c2c;
      font-size:25px;
      text-decoration: none;
    }

    .pillar__desktop-border{
      border-right:2px solid #2f4c2c;
    }

    hr.pillar-green-mobile {
        display:none;
    }

    .pillar__side-image {
        margin-bottom:30px;
    }

    

    .page-content {
    letter-spacing:1.5px;
    line-height:2;
    }

    ol.footnotes li {
    font-size:15px;
    padding-bottom:15px;
    list-style-position:inside;
    }

}

/*============ OUR PROCESS =========== */
@media only screen and (max-width: 749px){

    h2.process {
      color:#2f4c2c;
      font-size:22px;
      text-transform: uppercase;
      font-weight:600;
    }

    hr.process {
        border-bottom:2px solid #2f4c2c;
        width:100%;
    }


}

@media only screen and (min-width: 750px) and (max-width: 989px){

    h2.process {
      color:#2f4c2c;
      font-size:24px;
      text-transform: uppercase;
      font-weight:600;
    }

    hr.process {
        border-bottom:2px solid #2f4c2c;
        width:100%;
    }


}

@media only screen and (min-width: 990px) {

    h2.process{
      color:#2f4c2c;
      font-size:36px;
      text-transform: uppercase;
      font-weight:600;
    }

    hr.process {
        border-bottom:2px solid #2f4c2c;
        width:100%;
    }


}

/*============ 404 =========== */
@media only screen and (max-width: 749px){

    h1.url404 {
      color:#2f4c2c;
      font-size:30px;
/*       text-transform: uppercase; */
      font-weight:600;
    }

    .content404 {
        text-align:center;
    }

}

@media only screen and (min-width: 750px) and (max-width: 989px){

    h1.url404 {
      color:#2f4c2c;
      font-size:36px;
/*       text-transform: uppercase; */
      font-weight:600;
    }

    .content404 {
        text-align:left;
    }

}

@media only screen and (min-width: 990px) {

    h1.url404{
      color:#2f4c2c;
      font-size:44px;
/*       text-transform: uppercase; */
      font-weight:600;
      letter-spacing:1.5px;
    }

    .content404 {
        text-align:left;
    }

}

/*============ FAQ =========== */
@media only screen and (max-width: 749px){

    h2.faq {
      color:#2f4c2c;
      font-size:22px;
      text-transform: uppercase;
      font-weight:bold;
    }

    h2.faq:after {
      content:' ';
      display:block;
      margin-top:10px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h3.faq {
      color:#000000;
      font-size:30px;
      text-transform: uppercase;
      font-weight:bold;
      letter-spacing:1.5px;
    }


}

@media only screen and (min-width: 750px) and (max-width: 989px){

    h2.faq {
      color:#2f4c2c;
      font-size:24px;
      text-transform: uppercase;
      font-weight:600;
    }

    h2.faq:after {
      content:' ';
      display:block;
      margin-top:20px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h3.faq {
      color:#2f4c2c;
      font-size:20px;
      text-transform: uppercase;
      font-weight:600;
      letter-spacing:1.5px;
    }


}

@media only screen and (min-width: 990px) {

    h2.faq{
      color:#2f4c2c;
      font-size:28px;
      text-transform: uppercase;
      font-weight:600;
    }

    h2.faq:after {
      content:' ';
      display:block;
      margin-top:20px;
      margin-bottom:25px;
      border:1px solid #2f4c2c;
    }

    h3.faq {
      color:#000000;
      font-size:30px;
      text-transform: uppercase;
      font-weight:bold;
      letter-spacing:1.5px;
    }



}

/*============ CONTACT =========== */


@media only screen and (max-width: 749px){
    h2.faq-contact {
        font-size:55px;
        color:#2f4c2c;
        text-transform: uppercase;
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:35px;
        text-align:center;
    }

    h3.faq-contact-topic:after {
      content:' ';
      display:block;
      margin-top:10px;
      margin-bottom:15px;
      border:1px solid #2f4c2c;
    }


}

@media only screen and (min-width: 750px) and (max-width: 989px){
    h2.faq-contact {
        font-size:40px;
        color:#2f4c2c;
        text-transform: uppercase;
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:35px;
        text-align:center;
    }

    h3.faq-contact-topic:after {
      content:' ';
      display:block;
      margin-top:10px;
      margin-bottom:15px;
      border:1px solid #2f4c2c;
    }
    

}

@media only screen and (min-width: 990px){
    h2.faq-contact {
        font-size:55px;
        color:#2f4c2c;
        text-transform: uppercase;
        font-weight:600;
        letter-spacing:1.5;
        margin-bottom:35px;
        text-align:center;
    }

    h3.faq-contact-topic:after {
      content:' ';
      display:block;
      margin-top:10px;
      margin-bottom:15px;
      border:1px solid #2f4c2c;
    }

    
}

    input.contact, textarea.contact {
        border: 1px solid #2f4c2c;
        font-size:18px;
    
}

    h3.faq-contact {
      color:#2f4c2c;
      font-size:20px;
      text-transform: uppercase;
      font-weight:600;
      letter-spacing:1.5px;
    }

    h3.faq-contact {
        margin:0;
    }



/*============ BLOG - NEWS =========== */
@media only screen and (max-width: 749px){

}

@media only screen and (min-width: 750px) and (max-width: 989px){


}

@media only screen and (min-width: 990px){
 
}

section.pillar > p, section.pillar > ul, ul.footnotes, ol.footnotes, section.content > p, section.content > ul, #pdp_bottom-text-content {
  margin-bottom:35px;
}

 ol.footnotes {
 margin:0;
}

@media only screen and (min-width: 990px){
 div.footnotes {
  margin-top:100px;
}
}



#pillar__table-of-contents {
  margin-bottom:80px;
}

ul.pillar__toc li a:hover{
  color:#2f4c2c;
  text-decoration: underline;
}

ul.pillar__toc li {
  margin-bottom:18px;
}

ul.pillar {
  list-style: none;
  padding-left:60px !important; /* Remove default bullets */
}

ul.pillar li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #2f4c2c;; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */ 
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.page-content  a {
    color:#2f4c2c;
    text-decoration:underline;    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}


.screen-reader-text { 
   border:0;   
   clip: rect(1px, 1px, 1px, 1px); 
   clip-path: inset(50%);
   height: 1px; 
   margin: -1px;
   width: 1px; 
   overflow: hidden; 
   position: absolute !important;
   word-wrap:normal !important;
}

ul#benefitsList {
  list-style:disc outside;
}
