<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "DO I JUST PUT THE CARTON IN THE FREEZER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No, we recommend preparing it with an ice cream maker. Just like any other Elmhurst products, our soft serve mix is safe to store at room temperature until you’re ready to use it.  Prior to making a batch at home, you’ll need to refrigerate the mix for at least 4 hours at 40°F and shake well. Any unused mix should be stored in the fridge and used within 7-10 days."
    }
  },{
    "@type": "Question",
    "name": "WILL THIS WORK WITH ANY ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! Our Soft Serve Mix works in all ice cream makers, and methods. Prior to making a batch, you’ll need to refrigerate the mix for at least 4 hours at 40°F. Once thoroughly chilled, shake the carton vigorously and follow the instructions for your particular machine for best results.  We also strongly recommend using a measuring cup - a little too much mix can really affect how your soft serve turns out."
    }
  },{
    "@type": "Question",
    "name": "WHY DO I HAVE TO CHILL IT? WHAT WILL HAPPEN IF I DON’T?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "When using an ice cream maker at home, you always want to chill your mix first.  Chilling the mix in the fridge before using it helps to ensure that it will start to freeze quickly and avoid longer freeze times or over-churning, which can result in an icier texture."
    }
  },{
    "@type": "Question",
    "name": "WHAT ARE THE INGREDIENTS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Our Soft Serve Mixes are made with 100% plant-based and verified vegan, all-natural ingredients including the Elmhurst Oatmilk you know + love crafted using our unique HyrdoRelease™ process, Chickpeas, real Cane Sugar, and Himalayan Pink Salt. You can find the full list of ingredients and nutritional information for each of our Soft Serve Mixes on the product pages."
    }
  },{
    "@type": "Question",
    "name": "HOW MANY BOWLS DOES EACH CARTON MAKE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Each pint makes about 4 bowls of soft serve."
    }
  },{
    "@type": "Question",
    "name": "DO I NEED TO ADD ANY INGREDIENTS TO THE MIX?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope, our mix is ready to go from the carton once it’s been chilled. But that’s just the start! Try adding extracts & flavorings to the mix from the baking aisle to create new flavors, or after it’s ready you can mix in fresh or blended fruit, cookies, candy, or top with whatever you’d like. The possibilities are endless!"
    }
  },{
    "@type": "Question",
    "name": "IF I DON’T GET AN ICE CREAM MAKER BUNDLE HOW DO I USE THIS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We’ve tested our Soft Serve Mix using a wide variety of ice cream makers and quite a few DIY methods and any of them should work just fine with it!"
    }
  },{
    "@type": "Question",
    "name": "IS IT READY TO EAT ICE CREAM?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No, but it is Ready-to-Use Mix.  Simply refrigerate, shake well, then pour into any ice cream maker, following your particular model’s instructions, to make a batch of delicious, creamy dairy-free ice cream."
    }
  },{
    "@type": "Question",
    "name": "CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "For the best experience, our soft serve mix is meant to be prepared and enjoyed immediately. If you make a batch ahead of time and keep it in the freezer it affects the texture and can get icy."
    }
  },{
    "@type": "Question",
    "name": "DOES THIS SHIP FROZEN?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope!  All our products are safe to store at room temperature as long as they haven’t been opened yet, so they don’t need to be shipped chilled. Once opened, it will need to be refrigerated though and used within 7-10 days."
    }
  },{
    "@type": "Question",
    "name": "IS Elmhurst® CreameryTM SOFT SERVE MIX VEGAN?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, our Soft Serve Mixes along with all our other products are 100% plant-based and verified vegan!"
    }
  },{
    "@type": "Question",
    "name": "IS THERE LACTOSE OR DAIRY IN THIS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope! Our soft serve mixes are 100% lactose and dairy-free, made with only plant-based ingredients."
    }
  },{
    "@type": "Question",
    "name": "DOES THIS HAVE COCONUT IN IT? WHY?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, it does contain coconut oil, but not enough for it to affect the flavor. When crafting the recipe for our Soft Serve Mix, our goal was to deliver a dairy-free and allergen-friendly alternative as close to old-fashioned soft serve as possible - but better, so everyone can enjoy!  In order to achieve that smooth + creamy texture we all know and love, we had to include additional plant-based fats. Which is why you’ll find coconut oil and canola oil in the ingredients. Why both? Coconut oil and canola oil were chosen to balance saturated fats coming from the coconut oil with unsaturated fats coming from canola and. We also chose coconut oil because it’s recognized as a superfood that can help with brain function and even raise HDL (good) cholesterol, which can potentially reduce your risk of heart disease. All that being said, our team is still constantly exploring other options!"
    }
  },{
    "@type": "Question",
    "name": "WHY IS THERE CANOLA OIL IN IT?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We all love ice cream because it’s rich, creamy - decadent even. To deliver that while still being a dairy-free and allergen-friendly option, we had to include additional plant-based fats to replace the fat that would normally come from milk and cream. We looked at many alternatives, performed extensive testing, and weighed out all the pros + cons before making our decision. In order to achieve that smooth, creamy consistency we all know and love about soft serve we added a small amount of coconut oil and canola oil. Why both? Combined, the consistency is just right while also balancing the saturated fats from the coconut oil with unsaturated fats from canola oil. We know that canola oil often gets a bad rap, but the canola oil we use is Non-GMO and even has some benefits you might not have known about: High in Good Fats: Canola oil is rich in polyunsaturated fatty acids including Omega-3s and Omega-6s that are essential in your diet because your body can't make them, as well as monounsaturated fatty acids. Because of this, it’s authorized as a heart-healthy oil option by the US Food and Drug Administration Lowest in Bad Fats: Compared to the other vegetable oils, canola oil has the lowest levels of saturated fats which can raise bad cholesterol levels (LDL) in your body. For example, olive oil + soybean oil both contain twice as much saturated fat. All that being said, our team is still constantly exploring other options!"
    }
  },{
    "@type": "Question",
    "name": "DOES IT CONTAIN ANY TOP 8 ALLERGENS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope! We tried to make our Soft Serve mix as allergen-friendly as possible, however we do want to note that this product is made in a facility that also processes tree nuts."
    }
  },{
    "@type": "Question",
    "name": "IS THE SOFT SERVE MIX NON-GMO?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all of our products are certified Non-GMO by the Non-GMO Project!"
    }
  },{
    "@type": "Question",
    "name": "IS THE SOFT SERVE MIX GLUTEN-FREE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, our Soft Serve Mixes + all our other products are FDA-approved Gluten-Free."
    }
  },{
    "@type": "Question",
    "name": "IS Elmhurst® Creamery™ SOFT SERVE MIX KOSHER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all of our products are certified OU Kosher by the Orthodox Union."
    }
  },{
    "@type": "Question",
    "name": "CAN I FIND THIS IN STORES?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Since this is brand new to us, you won’t find it in many stores quite yet. But be sure to request us at your local grocer to help us get it there sooner for you and to keep an eye on our store locator. Until then, we’re happy to deliver!"
    }
  },{
    "@type": "Question",
    "name": "CAN I FIND THIS IN AN ICE CREAM SHOP ANYWHERE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Because this product is still new you might not see it at your local shop just yet, but you should start seeing it pop-up more places across the country very, very soon! Be sure to let your favorite ice cream shop know you’d love to see it there!"
    }
  },{
    "@type": "Question",
    "name": "HOW DOES IT COMPARE TO DAIRY-BASED ICE CREAMS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We know many of the other dairy-free options out there don’t quite deliver on the richness + creaminess that makes ice cream so crave-able. Which is why we made sure to bring you one that finally does with our Soft Serve mixes!"
    }
  },{
    "@type": "Question",
    "name": "CAN I DRINK THIS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We would never make anything that you couldn’t consume standalone. With that said, we do recommend utilizing the mix for its intended use which is soft serve."
    }
  },{
    "@type": "Question",
    "name": "CAN I USE THIS IN MY COFFEE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, although it wasn’t specifically made to be a creamer you can use it as one. It will be a little sweeter than our creamers though. Think of it like adding melted ice cream to your coffee!"
    }
  },{
    "@type": "Question",
    "name": "WHAT IS SUNFLOWER LECITHIN AND WHY IS IT IN IT?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The sunflower lecithin we use is all-natural, Non-GMO and derived from sunflower seeds. To deliver that rich + creamy texture, there are more natural fats in our soft serve mix than our other products. So to help make sure those fats stay well incorporated, especially as it freezes, we added a little sunflower lecithin to the mix."
    }
  },{
    "@type": "Question",
    "name": "WHY IS THERE CHICKPEA MILK?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We added chickpea to our Soft Serve mix to help create an even creamier texture thanks to the protein it has to offer. Chickpeas are also a naturally rich source of vitamins, minerals, and fiber + can even help with digestion!"
    }
  },{
    "@type": "Question",
    "name": "WHY ARE THERE NATURAL FLAVORS IN IT?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We use natural flavors in some of our products to best deliver a well-rounded flavor and help balance out some of the natural variation in crops caused by things outside of our control like weather + soil quality.  All of our natural flavors are 100% Vegan + Plant-Based, Non-GMO, Kosher, and Gluten-Free and we make sure to keep them as simple and minimal as possible."
    }
  },{
    "@type": "Question",
    "name": "IS THIS DIFFERENT FROM ICE CREAM? WHY IS IT CALLED SOFT SERVE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Soft Serve and Ice Cream are basically the same thing. In fact, ice cream is usually soft serve first! Especially when prepared in a soft serve machine, air is introduced into the mix which helps give it that soft + creamy texture. But unlike ice cream that usually goes through another freezing step, soft serve is best enjoyed right away."
    }
  },{
    "@type": "Question",
    "name": "WHY DOES IT STAY SOFT? AM I DOING THIS WRONG?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "When you prepare our soft serve mixes, just like the name suggests, the end result won’t be as firm as the hard ice cream you usually get at a shop or the grocery store. However, if your mix doesn’t seem to be freezing up the way it should it’s likely that it didn’t get cold enough. Be sure to follow the steps recommended by the manufacturer of your ice cream maker for best results."
    }
  },{
    "@type": "Question",
    "name": "DOES IT COME IN A LARGER SIZED PACKAGE?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Not yet, but we are looking into larger sizes!"
    }
  },{
    "@type": "Question",
    "name": "WHAT’S THE DIFFERENCE BETWEEN THE TWO ICE CREAM MAKER OPTIONS AVAILABLE IN THE BUNDLES?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We know that not everyone has an ice cream maker at home, so we wanted to make sure to provide you with some easy-to-use and affordable options. There are 3 main differences between the Zoku + Dash Ice Cream Makers:

Method of Preparation: To use the Zoku Ice Cream Maker bowl, you’ll need to churn the mix by hand. The Dash can be used manually as well, or plugged in to mix automatically.
Time to Prepare: Both machines have an insert that will need to be frozen beforehand. Once fully chilled, it takes 10 minutes or less to prepare in the Zoku bowl and about 15-30 minutes in the Dash maker.
How Much It Makes/Holds: As per the instructions no more than 5oz of mix should be used at a time in the Zoku Ice Cream Maker bowl. The Dash manual notes that you can use up to 1 cup (or 8oz) of mix at a time to make a slightly larger batch"
    }
  },{
    "@type": "Question",
    "name": "WHAT IS A ZOKU ICE CREAM MAKER BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The Zoku bowl is a simple + affordable ice cream maker option. We partnered with Zoku because we know that not everyone has an ice cream maker at home and we didn’t want that to be a barrier for our fans trying our new soft serve mix. The Zoku bowls are easy to use and a fun way to make ice cream with the whole family!"
    }
  },{
    "@type": "Question",
    "name": "CAN I PICK THE COLOR OF MY ZOKU BOWL(S)?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Unfortunately, at this time we are not able to accommodate color selection of the bowls."
    }
  },{
    "@type": "Question",
    "name": "WILL I GET INSTRUCTIONS FOR THE ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes - instructions for the bowl will be included each gift pack If you need further instructions - we’ve attached an instruction sheet to this email. Any additional questions regarding the bowl itself can be directed to the Zoku team at https://www.zokuhome.com/pages/contact"
    }
  },{
    "@type": "Question",
    "name": "HOW LONG IS THIS GOING TO TAKE TO MAKE IN A ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "If you’re using the Zoku Ice Cream Maker bowl, you’ll need to pop the metal portion of the bowl in the freezer the night before and we also recommend putting your soft serve mix in the fridge when you do. Once they’re both fully chilled, add your Elmhurst mix, start churning, and you should have a tasty bowl of ice cream in under 10 minutes!"
    }
  },{
    "@type": "Question",
    "name": "CAN I ADD AN EXTRA ZOKU BOWL TO MY ORDER? I NEED 3+",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Unfortunately at this time, we are not able to add single bowls to the bundle packs. If you are looking to purchase an additional bowl we recommend visiting Zoku’s website: https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker"
    }
  },{
    "@type": "Question",
    "name": "CAN I JUST BUY A ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "At this time, we are only able to offer the bundles from our website directly. If you would like to purchase additional zoku products, we recommend visiting their website directly at https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker."
    }
  },{
    "@type": "Question",
    "name": "I’VE BEEN MIXING IT IN THE BOWL FOR 5 MINUTES AND IT DID NOTHING…",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "It’s possible that your Zoku Ice Cream Maker bowl might not have been cold enough. You’ll want to make sure that you keep the bowl in your freezer overnight and avoid keeping it in the door of your freezer. We also strongly recommend that you refrigerate your Elmhurst Soft Serve mix for at least 4 hours at 40°F for best results. A good way to tell if it is cold enough is that when you first start mixing, it should be a little tough to scrape the sides of the bowl."
    }
  },{
    "@type": "Question",
    "name": "CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No, for the best experience our soft serve mix is meant to be prepared and enjoyed immediately. If you try to make a batch ahead of time and keep it in the freezer it affects the texture and can get icy."
    }
  },{
    "@type": "Question",
    "name": "HOW MUCH DO I POUR INTO THE ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "For best results, we strongly recommend following the instructions that come with your Zoku Ice Cream Maker bowl. Zoku recommends using no more than 5oz of mix per batch to ensure proper freezing. For best results we also strongly recommend you use a measuring cup to ensure accuracy for any ice cream maker."
    }
  },{
    "@type": "Question",
    "name": "IS THERE A LARGER SIZED ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Zoku offers a variety of products for frozen desserts and other uses. Click here to learn more about the Zoku product family: https://www.zokuhome.com/collections/frozen-treats-super"
    }
  },{
    "@type": "Question",
    "name": "HOW CAN I RETURN THE ZOKU BOWL?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Please contact Zoku using the link below and to learn about their return policies: https://www.zokuhome.com/pages/contact"
    }
  },{
    "@type": "Question",
    "name": "WHAT IS A DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The Dash My Pint Ice Cream Maker is a simple + affordable electric ice cream maker option. We partnered with Dash because we know that not everyone has an ice cream maker at home and we didn’t want that to be a barrier for our fans trying our new soft serve mix. The Dash Ice Cream Maker is easy to use and a fun way to make ice cream with the whole family!"
    }
  },{
    "@type": "Question",
    "name": "CAN I PICK THE COLOR OF MY DASH?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Unfortunately, at this time we are not able to accommodate color selection of the Dash Ice Cream Maker."
    }
  },{
    "@type": "Question",
    "name": "WILL I GET INSTRUCTIONS FOR THE DASH MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes - instructions for the Dash My Pint Maker will be included in each gift pack. If you need further instructions you can find a guide on their website here - https://bydash.com/products/my-pint-ice-cream-maker. Any additional questions regarding the maker itself can be directed to the Dash team at https://bydash.com/pages/contact-us"
    }
  },{
    "@type": "Question",
    "name": "DOES IT NEED TO BE PLUGGED IN OR IS IT BATTERY OPERATED?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "To use the automatic function, the Dash My Pint will need to be plugged in. However, it can also be left unplugged if using manually. You can find more info on the different methods in the directions or download the manual here - https://bydash.com/products/my-pint-ice-cream-maker"
    }
  },{
    "@type": "Question",
    "name": "HOW LONG IS THIS GOING TO TAKE TO MAKE IN A DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "If you’re using the Dash My Pint Ice Cream Maker, you’ll need to pop the metal cooling bowl in the freezer the night before and we also recommend putting your soft serve mix in the fridge when you do. Once they’re both fully chilled, add your Elmhurst mix, turn it on and you should have a tasty bowl of ice cream in 15-30 minutes!"
    }
  },{
    "@type": "Question",
    "name": "CAN I ADD AN EXTRA DASH MAKER TO MY ORDER? I NEED 2+",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Unfortunately at this time, we are not able to additional Dash machines to the bundle packs. If you are looking to purchase more we would recommend visiting Dash’s website: https://bydash.com/products/my-pint-ice-cream-maker"
    }
  },{
    "@type": "Question",
    "name": "CAN I JUST BUY A DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "At this time, we are only able to offer the bundles from our website directly. If you would like to purchase additional Dash products, we recommend visiting their website directly at https://bydash.com/products/my-pint-ice-cream-maker"
    }
  },{
    "@type": "Question",
    "name": "IT’S BEEN RUNNING FOR 20 MINUTES AND IT DID NOTHING…",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "It’s possible that the Cooling Bowl in your Dash maker might not have been cold enough. Make sure that you freeze the Cooling Bowl for at least 24 hours and avoid keeping it in the door of your freezer to ensure it gets as cold as possible. We also strongly recommend that you refrigerate your Elmhurst Soft Serve mix for at least 4 hours at 40°F for best results.

A good way to tell if it is cold enough is that when you first turn it on, you should start to see the mix freezing to the sides."
    }
  },{
    "@type": "Question",
    "name": "CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No, for the best experience our soft serve mix is meant to be prepared and enjoyed immediately. If you try to make a batch ahead of time and keep it in the freezer it affects the texture and can get icy."
    }
  },{
    "@type": "Question",
    "name": "HOW MUCH DO I POUR INTO THE DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "For best results, we strongly recommend following the instructions that come with your Dash Ice Cream Maker. Dash recommends using no more than 1 cup of mix per batch to ensure proper freezing. For best results we also strongly recommend you use a measuring cup to ensure accuracy for any ice cream maker."
    }
  },{
    "@type": "Question",
    "name": "IS THERE A LARGER SIZED DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Dash offers a variety of products for frozen desserts and other uses. Click here to learn more about their other products: https://bydash.com/collections/ice-cream-makers"
    }
  },{
    "@type": "Question",
    "name": "HOW CAN I RETURN THE DASH ICE CREAM MAKER?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Please contact Dash using the following link and to learn more about their return policies: https://bydash.com/pages/contact-us"
    }
  }]
}
</script>


<div class="">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1 class="content">{{ page.title }}</h1>
      </div>

      <div class="page-width page-content">

        <h3 class="faq">GENERAL ICE CREAM MAKER BOWL QUESTIONS</h3>
      	<section class="content">
      		<button class="accordion">DO I JUST PUT THE CARTON IN THE FREEZER?</button>
            <div class="panel">
              <p>No, we recommend preparing it with an ice cream maker. Just like any other Elmhurst products, our soft serve mix is safe to store at room temperature until you’re ready to use it.  Prior to making a batch at home, you’ll need to refrigerate the mix for at least 4 hours at 40°F and shake well. Any unused mix should be stored in the fridge and used within 7-10 days.</p>
          </div>
            <button class="accordion">WILL THIS WORK WITH ANY ICE CREAM MAKER?</button>
            <div class="panel">
              <p>Yes! Our Soft Serve Mix works in all ice cream makers, and methods. Prior to making a batch, you’ll need to refrigerate the mix for at least 4 hours at 40°F. Once thoroughly chilled, shake the carton vigorously and follow the instructions for your particular machine for best results.  We also strongly recommend using a measuring cup - a little too much mix can really affect how your soft serve turns out.</p>
          </div>
          
            <button class="accordion">WHY DO I HAVE TO CHILL IT? WHAT WILL HAPPEN IF I DON’T?</button>
            <div class="panel">
              <p>When using an ice cream maker at home, you always want to chill your mix first.  Chilling the mix in the fridge before using it helps to ensure that it will start to freeze quickly and avoid longer freeze times or over-churning, which can result in an icier texture.</p>
          </div>
          
            <button class="accordion">WHAT ARE THE INGREDIENTS?</button>
            <div class="panel">
              <p>Our Soft Serve Mixes are made with 100% plant-based and verified vegan, all-natural ingredients including the Elmhurst Oatmilk you know + love crafted using our unique HyrdoRelease™ process, Chickpeas, real Cane Sugar, and Himalayan Pink Salt.</p>

            <p>You can find the full list of ingredients and nutritional information for each of our Soft Serve Mixes on the product pages. To view, simply click to the second product image:</p>

            <ul>
                <li><a href="/products/vanilla-soft-serve">Elmhurst® Creamery™ Dairy-Free Vanilla Soft Serve Mix</a></li>
                <li><a href="/products/chocolate-soft-serve">Elmhurst® Creamery™ Dairy-Free Chocolate Soft Serve Mix</a></li>
            </ul>
          </div>
          
            <button class="accordion">HOW MANY BOWLS DOES EACH CARTON MAKE?</button>
            <div class="panel">
              <p>Each pint makes about 4 bowls of soft serve.</p>
          </div>
            <button class="accordion">DO I NEED TO ADD ANY INGREDIENTS TO THE MIX?</button>
            <div class="panel">
              <p>Nope, our mix is ready to go from the carton once it’s been chilled. But that’s just the start! Try adding extracts & flavorings to the mix from the baking aisle to create new flavors, or after it’s ready you can mix in fresh or blended fruit, cookies, candy, or top with whatever you’d like. The possibilities are endless!</p>
          </div>
            <button class="accordion">IF I DON’T GET AN ICE CREAM MAKER BUNDLE HOW DO I USE THIS?</button>
            <div class="panel">
              <p>We’ve tested our Soft Serve Mix using a wide variety of ice cream makers and quite a few DIY methods and any of them should work just fine with it!</p>
          </div>
            <button class="accordion">IS IT READY TO EAT ICE CREAM?</button>
            <div class="panel">
              <p>No, but it is Ready-to-Use Mix.  Simply refrigerate, shake well, then pour into any ice cream maker, following your particular model’s instructions, to make a batch of delicious, creamy dairy-free ice cream.</p>
          </div>
            <button class="accordion">CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?</button>
            <div class="panel">
              <p>For the best experience, our soft serve mix is meant to be prepared and enjoyed immediately. If you make a batch ahead of time and keep it in the freezer it affects the texture and can get icy.</p>

          </div>
            <button class="accordion">DOES THIS SHIP FROZEN?</button>
            <div class="panel">
              <p>Nope!  All our products are safe to store at room temperature as long as they haven’t been opened yet, so they don’t need to be shipped chilled. Once opened, it will need to be refrigerated though and used within 7-10 days.</p>
          </div>
            <button class="accordion">IS Elmhurst® CreameryTM SOFT SERVE MIX VEGAN?</button>
            <div class="panel">
              <p>Yes, our Soft Serve Mixes along with all our other products are 100% plant-based and verified vegan!</p>
          </div>
            <button class="accordion">IS THERE LACTOSE OR DAIRY IN THIS?</button>
            <div class="panel">
              <p>Nope! Our soft serve mixes are 100% lactose and dairy-free, made with only plant-based ingredients.</p>

          </div>
            <button class="accordion">DOES THIS HAVE COCONUT IN IT? WHY?</button>
            <div class="panel">
              <p>Yes, it does contain coconut oil, but not enough for it to affect the flavor. When crafting the recipe for our Soft Serve Mix, our goal was to deliver a dairy-free and allergen-friendly alternative as close to old-fashioned soft serve as possible - but better, so everyone can enjoy!  In order to achieve that smooth + creamy texture we all know and love, we had to include additional plant-based fats. Which is why you’ll find coconut oil and canola oil in the ingredients.</p>

            <p>Why both? Coconut oil and canola oil were chosen to balance saturated fats coming from the coconut oil with unsaturated fats coming from canola and. We also chose coconut oil because it’s recognized as a superfood that can help with brain function and even raise HDL (good) cholesterol, which can potentially reduce your risk of heart disease.</p>

            <p>All that being said, our team is still constantly exploring other options!</p>
          </div>
            <button class="accordion">WHY IS THERE CANOLA OIL IN IT?</button>
            <div class="panel">
              <p>We all love ice cream because it’s rich, creamy - decadent even. To deliver that while still being a dairy-free and allergen-friendly option, we had to include additional plant-based fats to replace the fat that would normally come from milk and cream.</p>

            <p>We looked at many alternatives, performed extensive testing, and weighed out all the pros + cons before making our decision. In order to achieve that smooth, creamy consistency we all know and love about soft serve we added a small amount of coconut oil and canola oil.</p>

            <p>Why both? Combined, the consistency is just right while also balancing the saturated fats from the coconut oil with unsaturated fats from canola oil. We know that canola oil often gets a bad rap, but the canola oil we use is Non-GMO and even has some benefits you might not have known about:</p>

            <p><b><u>High in Good Fats:</u></b> Canola oil is rich in polyunsaturated fatty acids including Omega-3s and Omega-6s that are essential in your diet because your body can't make them, as well as monounsaturated fatty acids. Because of this, it’s authorized as a heart-healthy oil option by the <a href="https://www.canolacouncil.org/oil-and-meal/canola-oil/health-benefits-of-canola-oil/qualified-health-claim/">US Food and Drug Administration</a></p>

            <p><b><u>Lowest in Bad Fats:</u></b> Compared to the other vegetable oils, canola oil has the lowest levels of saturated fats which can raise bad cholesterol levels (LDL) in your body. For example, olive oil + soybean oil both contain twice as much saturated fat.</p>

            <p>All that being said, our team is still constantly exploring other options!</p>

          </div>
            <button class="accordion">DOES IT CONTAIN ANY TOP 8 ALLERGENS?</button>
            <div class="panel">
              <p>Nope! We tried to make our Soft Serve mix as allergen-friendly as possible, however we do want to note that this product is made in a facility that also processes tree nuts.</p>
          </div>
            <button class="accordion">IS THE SOFT SERVE MIX NON-GMO?</button>
            <div class="panel">
              <p>Yes, all of our products are certified Non-GMO by the <a href="https://www.nongmoproject.org/">Non-GMO Project!</a></p>
          </div>
            <button class="accordion">IS THE SOFT SERVE MIX GLUTEN-FREE?</button>
            <div class="panel">
              <p>Yes, our Soft Serve Mixes + all our other products are FDA-approved Gluten-Free.</p>
          </div>
            <button class="accordion">IS Elmhurst® Creamery™ SOFT SERVE MIX KOSHER?</button>
            <div class="panel">
              <p>Yes, all of our products are certified OU Kosher by the <a href="https://oukosher.org/">Orthodox Union.</a></p>

            <!--
            <h3 class="faq">CAN I ADD THIS TO A SUBSCRIPTION?</h3>
            <p>Yes! You can subscribe to have your Soft Serve mix delivered automatically each month. At this time subscriptions are only available for our mix-only packs.</p>
            -->
          </div>
            <button class="accordion">CAN I FIND THIS IN STORES?</button>
            <div class="panel">
              <p>Since this is brand new to us, you won’t find it in many stores quite yet. But be sure to request us at your local grocer to help us get it there sooner for you and to keep an eye on our <a href="https://elmhurst1925.com/pages/store-locator">store locator</a>. Until then, we’re happy to deliver!</p>
          </div>
            <button class="accordion">CAN I FIND THIS IN AN ICE CREAM SHOP ANYWHERE?</button>
            <div class="panel">
              <p>Because this product is still new you might not see it at your local shop just yet, but you should start seeing it pop-up more places across the country very, very soon! Be sure to let your favorite ice cream shop know you’d love to see it there!</p>
          </div>
            <button class="accordion">HOW DOES IT COMPARE TO DAIRY-BASED ICE CREAMS?</button>
            <div class="panel">
              <p>We know many of the other dairy-free options out there don’t quite deliver on the richness + creaminess that makes ice cream so crave-able. Which is why we made sure to bring you one that finally does with our Soft Serve mixes!</p>
          </div>
            <button class="accordion">CAN I DRINK THIS?</button>
            <div class="panel">
              <p>We would never make anything that you couldn’t consume standalone. With that said, we do recommend utilizing the mix for its intended use which is soft serve.</p>
          </div>
            <button class="accordion">CAN I USE THIS IN MY COFFEE?</button>
            <div class="panel">
              <p>Yes, although it wasn’t specifically made to be a creamer you can use it as one. It will be a little sweeter than our creamers though. Think of it like adding melted ice cream to your coffee!</p>
          </div>
            <button class="accordion">WHAT IS SUNFLOWER LECITHIN AND WHY IS IT IN IT?</button>
            <div class="panel">
              <p>The sunflower lecithin we use is all-natural, Non-GMO and derived from sunflower seeds. To deliver that rich + creamy texture, there are more natural fats in our soft serve mix than our other products. So to help make sure those fats stay well incorporated, especially as it freezes, we added a little sunflower lecithin to the mix.</p>
          </div>
            <button class="accordion">WHY IS THERE CHICKPEA MILK?</button>
            <div class="panel">
              <p>We added chickpea to our Soft Serve mix to help create an even creamier texture thanks to the protein it has to offer. Chickpeas are also a naturally rich source of vitamins, minerals, and fiber + can even help with digestion!</p>
          </div>
            <button class="accordion">WHY ARE THERE NATURAL FLAVORS IN IT?</button>
            <div class="panel">
              <p>We use natural flavors in some of our products to best deliver a well-rounded flavor and help balance out some of the natural variation in crops caused by things outside of our control like weather + soil quality.  All of our natural flavors are 100% Vegan + Plant-Based, Non-GMO, Kosher, and Gluten-Free and we make sure to keep them as simple and minimal as possible.</p>
          </div>
            <button class="accordion">IS THIS DIFFERENT FROM ICE CREAM? WHY IS IT CALLED SOFT SERVE?</button>
            <div class="panel">
              <p>Soft Serve and Ice Cream are basically the same thing. In fact, ice cream is usually soft serve first! Especially when prepared in a soft serve machine, air is introduced into the mix which helps give it that soft + creamy texture. But unlike ice cream that usually goes through another freezing step, soft serve is best enjoyed right away.</p>
          </div>
            <button class="accordion">WHY DOES IT STAY SOFT? AM I DOING THIS WRONG?</button>
            <div class="panel">
              <p>When you prepare our soft serve mixes, just like the name suggests, the end result won’t be as firm as the hard ice cream you usually get at a shop or the grocery store. However, if your mix doesn’t seem to be freezing up the way it should it’s likely that it didn’t get cold enough. Be sure to follow the steps recommended by the manufacturer of your ice cream maker for best results.</p>
          </div>
            <button class="accordion">DOES IT COME IN A LARGER SIZED PACKAGE?</button>
            <div class="panel">
              <p>Not yet, but we are looking into larger sizes!</p>
          </div>
            <button class="accordion">WHAT’S THE DIFFERENCE BETWEEN THE TWO ICE CREAM MAKER OPTIONS AVAILABLE IN THE BUNDLES?</button>
            <div class="panel">
              <p>We know that not everyone has an ice cream maker at home, so we wanted to make sure to provide you with some easy-to-use and affordable options. There are 3 main differences between the Zoku + Dash Ice Cream Makers:</p>

            <ol>
                <li><b>Method of Preparation:</b> To use the Zoku Ice Cream Maker bowl, you’ll need to churn the mix by hand. The Dash can be used manually as well, or plugged in to mix automatically.</li>
                <li><b>Time to Prepare:</b> Both machines have an insert that will need to be frozen beforehand. Once fully chilled, it takes 10 minutes or less to prepare in the Zoku bowl and about 15-30 minutes in the Dash maker.</li>
                <li><b>How Much It Makes/Holds:</b> As per the instructions <b>no more than 5oz</b> of mix should be used at a time in the Zoku Ice Cream Maker bowl. The Dash manual notes that you can use <b>up to 1 cup (or 8oz)</b> of mix at a time to make a slightly larger batch</li>
            </ol>
          </div>
        </section>


        <h3 class="faq">ZOKU ICE CREAM MAKER BOWL QUESTIONS</h3>

        <section class="content">
            <button class="accordion">WHAT IS A ZOKU ICE CREAM MAKER BOWL?</button>
            <div class="panel">
              <p>The Zoku bowl is a simple + affordable ice cream maker option.  We partnered with Zoku because we know that not everyone has an ice cream maker at home and we didn’t want that to be a barrier for our fans trying our new soft serve mix. The Zoku bowls are easy to use and a fun way to make ice cream with the whole family!</p>
          </div>
            <button class="accordion">CAN I PICK THE COLOR OF MY ZOKU BOWL(S)?</button>
            <div class="panel">
              <p>Unfortunately, at this time we are not able to accommodate color selection of the bowls.</p>
          </div>
            <button class="accordion">WILL I GET INSTRUCTIONS FOR THE ZOKU BOWL?</button>
            <div class="panel">
              <p>Yes - instructions for the bowl will be included each gift pack If you need further instructions - we’ve attached an instruction sheet to this email. Any additional questions regarding the bowl itself can be directed to the Zoku team at <a href="https://www.zokuhome.com/pages/contact">https://www.zokuhome.com/pages/contact</a></p>
          </div>
            <button class="accordion">HOW LONG IS THIS GOING TO TAKE TO MAKE IN A ZOKU BOWL?</button>
            <div class="panel">
              <p>If you’re using the Zoku Ice Cream Maker bowl, you’ll need to pop the metal portion of the bowl in the freezer the night before and we also recommend putting your soft serve mix in the fridge when you do.  Once they’re both fully chilled, add your Elmhurst mix, start churning, and you should have a tasty bowl of ice cream in under 10 minutes!</p>
          </div>
            <button class="accordion">CAN I ADD AN EXTRA ZOKU BOWL TO MY ORDER? I NEED 3+</button>
            <div class="panel">
              <p>Unfortunately at this time, we are not able to add single bowls to the bundle packs. If you are looking to purchase an additional bowl we recommend visiting Zoku’s website: <a href="https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker">https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker</a></p>
          </div>
            <button class="accordion">CAN I JUST BUY A ZOKU BOWL?</button>
            <div class="panel">
              <p>At this time, we are only able to offer the bundles from our website directly. If you would like to purchase additional zoku products, we recommend visiting their website directly at <a href="https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker">https://www.zokuhome.com/collections/ready-in-minutes/products/ice-cream-maker</a>.</p>
          </div>
            <button class="accordion">I’VE BEEN MIXING IT IN THE BOWL FOR 5 MINUTES AND IT DID NOTHING…</button>
            <div class="panel">
              <p>It’s possible that your Zoku Ice Cream Maker bowl might not have been cold enough. You’ll want to make sure that you keep the bowl in your freezer overnight and avoid keeping it in the door of your freezer.  We also strongly recommend that you refrigerate your Elmhurst Soft Serve mix for at least 4 hours at 40°F for best results.</p>

           
              <p>A good way to tell if it is cold enough is that when you first start mixing, it should be a little tough to scrape the sides of the bowl.</p>
          </div>
            <button class="accordion">CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?</button>
            <div class="panel">
              <p>No, for the best experience our soft serve mix is meant to be prepared and enjoyed immediately. If you try to make a batch ahead of time and keep it in the freezer it affects the texture and can get icy.</p>
          </div>
            <button class="accordion">HOW MUCH DO I POUR INTO THE ZOKU BOWL?</button>
            <div class="panel">
              <p>For best results, we strongly recommend following the instructions that come with your Zoku Ice Cream Maker bowl. Zoku recommends <b>using no more than 5oz</b> of mix per batch to ensure proper freezing. For best results we also strongly recommend you use a measuring cup to ensure accuracy for any ice cream maker.</p>
          </div>
            <button class="accordion">IS THERE A LARGER SIZED ZOKU BOWL?</button>
            <div class="panel">
              <p>Zoku offers a  variety of products for frozen desserts and other uses.  Click here to learn more about the Zoku product family: <a href="https://www.zokuhome.com/collections/frozen-treats-super">https://www.zokuhome.com/collections/frozen-treats-super</a></p>
          </div>
            <button class="accordion">HOW CAN I RETURN THE ZOKU BOWL?</button>
            <div class="panel">
              <p>Please contact Zoku using the link below and to learn about their return policies: <a href="https://www.zokuhome.com/pages/contact">https://www.zokuhome.com/pages/contact</a></p>

             </div>
        </section>


        <h3 class="faq">DASH ICE CREAM MAKER QUESTIONS</h3>
        <section class="content">
            <button class="accordion">WHAT IS A DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>The Dash My Pint Ice Cream Maker is a simple + affordable electric ice cream maker option.  We partnered with Dash because we know that not everyone has an ice cream maker at home and we didn’t want that to be a barrier for our fans trying our new soft serve mix. The Dash Ice Cream Maker is easy to use and a fun way to make ice cream with the whole family!</p>
          </div>
            <button class="accordion">CAN I PICK THE COLOR OF MY DASH?</button>
            <div class="panel">
              <p>Unfortunately, at this time we are not able to accommodate color selection of the Dash Ice Cream Maker.</p>
          </div>
            <button class="accordion">WILL I GET INSTRUCTIONS FOR THE DASH MAKER?</button>
            <div class="panel">
              <p>Yes - instructions for the Dash My Pint Maker will be included in each gift pack. If you need further instructions you can find a guide on their website here - <a href="https://bydash.com/products/my-pint-ice-cream-maker">https://bydash.com/products/my-pint-ice-cream-maker</a>. Any additional questions regarding the maker itself can be directed to the Dash team at <a href="https://bydash.com/pages/contact-us">https://bydash.com/pages/contact-us</a></p>
          </div>
            <button class="accordion">DOES IT NEED TO BE PLUGGED IN OR IS IT BATTERY OPERATED?</button>
            <div class="panel">
              <p>To use the automatic function, the Dash My Pint will need to be plugged in. However, it can also be left unplugged if using manually. You can find more info on the different methods in the directions or download the manual here - <a href="https://bydash.com/products/my-pint-ice-cream-maker">https://bydash.com/products/my-pint-ice-cream-maker</a></p>
          </div>
            <button class="accordion">HOW LONG IS THIS GOING TO TAKE TO MAKE IN A DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>If you’re using the Dash My Pint Ice Cream Maker, you’ll need to pop the metal cooling bowl in the freezer the night before and we also recommend putting your soft serve mix in the fridge when you do.  Once they’re both fully chilled, add your Elmhurst mix, turn it on and you should have a tasty bowl of ice cream in 15-30 minutes!</p>
          </div>
            <button class="accordion">CAN I ADD AN EXTRA DASH MAKER TO MY ORDER? I NEED 2+</button>
            <div class="panel">
              <p>Unfortunately at this time, we are not able to additional Dash machines to the bundle packs. If you are looking to purchase more we would recommend visiting Dash’s website: <a href="https://bydash.com/products/my-pint-ice-cream-maker">https://bydash.com/products/my-pint-ice-cream-maker</a></p>
          </div>
            <button class="accordion">CAN I JUST BUY A DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>At this time, we are only able to offer the bundles from our website directly. If you would like to purchase additional Dash products, we recommend visiting their website directly at <a href="https://bydash.com/products/my-pint-ice-cream-maker">https://bydash.com/products/my-pint-ice-cream-maker</a></p>
          </div>
            <button class="accordion">IT’S BEEN RUNNING FOR 20 MINUTES AND IT DID NOTHING…</button>
            <div class="panel">
              <p>It’s possible that the Cooling Bowl in your Dash maker might not have been cold enough. Make sure that you freeze the Cooling Bowl for at least 24 hours and avoid keeping it in the door of your freezer to ensure it gets as cold as possible.  We also strongly recommend that you refrigerate your Elmhurst Soft Serve mix for at least 4 hours at 40°F for best results.</p>

            <p>A good way to tell if it is cold enough is that when you first turn it on, you should start to see the mix freezing to the sides.</p>
          </div>
            <button class="accordion">CAN I MAKE THE WHOLE CARTON & STORE IN THE FREEZER?</button>
            <div class="panel">
              <p>No, for the best experience our soft serve mix is meant to be prepared and enjoyed immediately. If you try to make a batch ahead of time and keep it in the freezer it affects the texture and can get icy.</p>
          </div>
            <button class="accordion">HOW MUCH DO I POUR INTO THE DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>For best results, we strongly recommend following the instructions that come with your Dash Ice Cream Maker. Dash recommends <b>using no more than 1 cup</b> of mix per batch to ensure proper freezing. For best results we also strongly recommend you use a measuring cup to ensure accuracy for any ice cream maker.</p>
          </div>
            <button class="accordion">IS THERE A LARGER SIZED DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>Dash offers a  variety of products for frozen desserts and other uses.  Click here to learn more about their other products:  <a href="https://bydash.com/collections/ice-cream-makers">https://bydash.com/collections/ice-cream-makers</a></p>
          </div>
            <button class="accordion">HOW CAN I RETURN THE DASH ICE CREAM MAKER?</button>
            <div class="panel">
              <p>Please contact Dash using the following link and to learn more about their return policies: <a href="https://bydash.com/pages/contact-us">https://bydash.com/pages/contact-us</a></p>
          </div>
        </section>
        
        <section class="content" style="text-align:center;">
          <a class="btn" href="/pages/faq/" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">More FAQs</a>
          </section>

    
      		
      </div>
    </div>
  </div>
</div>

<script>
var coll = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
