<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Accessibility Statement</h1>
      </div>

      <section class="content ">
        
        <p style="font-size: 16px;"> Last updated: October 20, 2021 </p>
        
        <h2>Accessibility conformance status </h2>
          <p>Elmhurst 1925 is committed to accessibility and strives to ensure its services are accessible to the broadest circle of people, including those with disabilities. 
			This website is designed with the goal of conforming to the principles of the World Wide Web Consortium’s Web Content Accessibility Guidelines (WCAG 2.1) 2.1 Level AA. 
          </p>
        
        <h2>Accessibility feedback </h2>
          Accessibility is powered by your willingness to share your experience on our site. If you have any specific questions, concerns, or general feedback about the accessibility of 
			any of the content on our website, please contact us. Please be sure to specify the page/URL of concern, and we will get back to you in a timely manner.
       
        
        <ol style="list-style-type:disc; padding-left: 50px;">
          <li><a href="tel:8883561925"> Phone: (999) 356-1925</a> </li>
          <li><a href="mailto:cs@elmhurst1925.com">Email: cs@elmhurst1925.com</a></li>
          <li>Physical address: 1200 Maple Road, Elma, NY 14059</li>
          
        </ol> <br>
        
        
        <h2>Technical Specifications</h2>
        The accessibility of Elmhurst 1925 relies on the following technologies:
        <ol style="list-style-type:disc; padding-left: 50px;">
          <li>HTML</li>
          <li>WAI-ARIA</li>
          <li>CSS</li>
          <li>JavaScript</li>
        </ol>        </ol> <br>




        <h2>Accessibility features </h2>
        <p>Elmhurst 1925 reaches beyond compliance, providing usability improvements that benefit all users including those that rely on assistive 
          technology. Accessibility features on our website include and are not limited to:</p>
        
        
        <h2>Accessibility evaluation </h2>
        <p>To help ensure that all people have the same experience on our website, this website has been tested and reviewed by disabled individuals 
        using various assistive technology. Additionally, we have also commissioned third-party accessibility auditors at 
          <a href="https://beaccessible.com/" target="blank">Be Accessible, Inc. </a>to confirm accessibility and provide guidance with accessibility remediation. </p>

		<p>Technology is constantly evolving, and new techniques to implement web accessibility are increasingly available. We will continue to 
          review our website and apply additional accessibility as needed.</p>

        
   		 
        
      </section>
      
    </div>
  </div>
</div>
