<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "HOW DOES THE SUBSCRIPTION PROGRAM WORK?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "For most of our products and pack sizes you’ll see a ‘Subscribe and Save’ option when adding them to your cart. After you’ve picked out what you’d like in your subscription, you can customize how often your deliveries will arrive (or you stick with every 30 days). Once you’ve submitted your order your subscription will automatically be scheduled based on how you set it up, but you can always update it whenever you need to in your account settings. And you’ll keep getting 10% off every delivery!"
    }
  },{
    "@type": "Question",
    "name": "WHAT CHANGES CAN I MAKE TO MY SUBSCRIPTION?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Once you’ve created your subscription, you can update the products and how often it gets delivered, along with information in your account like your address or payment information any time. Just be sure to make any changes at least 48 hours before the delivery you’d like them to applied to or they won’t go into effect until your next scheduled delivery. You can update your subscription by following these steps:
• Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page
• After you’ve logged in, click “Manage Subscriptions”
• From there you can make any changes or adjustments you need"
    }
  },{
    "@type": "Question",
    "name": "HOW DO I UPDATE MY SUBSCRIPTION?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Once you’ve created your subscription you can update it anytime! Just be sure to make any changes at least 48 hours before the delivery you’d like them to applied to or they won’t go into effect until your next scheduled delivery. You can update your subscription by following these steps:
• Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website
• After you’ve logged in, click “Manage Subscriptions”
• From there you can make any changes or adjustments you need
*Reminder: Most of our products have a shelf life of up to 6 months from the date they are made, but the time left to enjoy them will vary depending on when we receive your order so please keep this in mind when selecting quantities and setting the frequency of your deliveries."
    }
  },{
    "@type": "Question",
    "name": "WHEN WILL MY ORDER ARRIVE EACH MONTH?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "When you create your subscription, your billing + ship date for your deliveries will be based on your selection and the date that you create your subscription. You can usually expect your delivery to arrive within the next few business days, depending on where you’re located.
If you’d like to change that date, you can do that at any time in your account settings. Just be sure to make any changes at least 48 hours before the delivery you’d like them applied to or they won’t go into effect until your next scheduled delivery.
You can update your subscription by following these steps:
• Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website
• After you’ve logged in, click “Manage Subscriptions”
• From there you can make any changes or adjustments you need"
    }
  },{
    "@type": "Question",
    "name": "CAN I SKIP A MONTH? WHEN DO I HAVE TO LET YOU KNOW BY?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, you can skip or reschedule your delivery whenever you need to! There’s no fee, just make sure to schedule this in your account at least 48 hours before the delivery you’d like to skip or you’ll still be billed and receive that delivery.
To make this update in your account, follow these steps:
• Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website
• After you’ve logged in, click “Manage Subscriptions”
• From there you can manually change the date of the subscription delivery you need to move"
    }
  }]
}
</script>

{% section 'subscribe-feature-row-banner' %}
{% section 'subscribe-benefits' %}
{% section 'subscribe-feature-row' %}
<!-- {% section 'subscribe-desktop-slideshow' %}
{% section 'subscribe-mobile-slideshow' %} -->
<!-- {% section 'subscribe-collection' %} -->

<div class="one-whole benefits_icons_container page-width" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

{% section 'recharge-sms' %}
{% section 'featured-collection' %}



<div class="page-width">
  <h2 class="h1 text-center">FAQs</h2>
  <button class="accordion">HOW DOES THE SUBSCRIPTION PROGRAM WORK?</button>
  <div class="panel">
    <p>For most of our products and pack sizes you’ll see a ‘Subscribe and Save’ option when adding them to your cart. After you’ve picked out what you’d like in your subscription, you can customize how often  your deliveries will arrive (or you stick with every 30 days).
	Once you’ve submitted your order your subscription will automatically be scheduled based on how you set it up, but you can always update it whenever you need to in your account settings. And you’ll keep getting 10% off every delivery!
	</p>
  </div>

  <button class="accordion">WHAT CHANGES CAN I MAKE TO MY SUBSCRIPTION?</button>
  <div class="panel">
    <p>Once you’ve created your subscription, you can update the products and how often it gets delivered, along with information in your account like your address or payment information any time. Just be sure to <strong>make any changes at least 48 hours before the delivery you’d like them to applied to </strong>or they won’t go into effect until your next scheduled delivery.
		You can update your subscription by following these steps: <br><br>
      •	Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page<br>
      •	After you’ve logged in, click “Manage Subscriptions”<br>
      •	From there you can make any changes or adjustments you need
	</p>
  </div>

  <button class="accordion">HOW DO I UPDATE MY SUBSCRIPTION?</button>
  <div class="panel">
    <p>Once you’ve created your subscription you can update it anytime! Just be sure to <strong>make any changes at least 48 hours before the delivery you’d like them to applied to</strong> or they won’t go into effect until your next scheduled delivery.
You can update your subscription by following these steps: <br><br>
•	Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website<br>
•	After you’ve logged in, click “Manage Subscriptions”<br>
•	From there you can make any changes or adjustments you need <br><br>
*Reminder: Most of our products have a shelf life of up to 6 months from the date they are made, but the time left to enjoy them will vary depending on when we receive your order so please keep this in mind when selecting quantities and setting the frequency of your deliveries. 
</p>
  </div>
  
	<button class="accordion">WHEN WILL MY ORDER ARRIVE EACH MONTH?</button>
  <div class="panel">
    <p>When you create your subscription, your billing + ship date for your deliveries will be based on your selection and the date that you create your subscription. You can usually expect your delivery to arrive within the next few business days, depending on where you’re located.</p>
    <p>If you’d like to change that date, you can do that at any time in your account settings. Just be sure to <strong>make any changes at least 48 hours before the delivery you’d like them applied to</strong> or they won’t go into effect until your next scheduled delivery.<br>
    You can update your subscription by following these steps:<br> <br>
      •	Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website <br>
      •	After you’ve logged in, click “Manage Subscriptions” <br>
      •	From there you can make any changes or adjustments you need 
    </p>

    
  </div>
  
	<button class="accordion">CAN I SKIP A MONTH? WHEN DO I HAVE TO LET YOU KNOW BY?</button>
  <div class="panel">
    <p>Yes, you can skip or reschedule your delivery whenever you need to! There’s no fee, just make sure to schedule this in your account at least 48 hours before the delivery you’d like to skip or you’ll still be billed and receive that delivery.<br>
     To make this update in your account, follow these steps:<br> <br>
     •	Log into your account on elmhurst1925.com - You can do this by clicking the person icon in the top right corner of any page on our website<br>
     •	After you’ve logged in, click “Manage Subscriptions”<br>
     •	From there you can manually change the date of the subscription delivery you need to move<br>
    </p>
  </div>
  
  <section class="content" style="text-align:center; padding-top:20px;">
          <a class="btn" href="/pages/subscription-faq" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">More FAQs</a>
          </section>
  
</div>


