<div class="text-center" style="margin-top:-55px;margin-bottom:30px;">
  <h1>
  </h1>

    <div class="text-center" style="margin-top:30px;margin-bottom:30px;">
    <a href="/collections/creamers"><img src="{{ 'seasonal_header_DESKTOP.jpg' | file_img_url: 'master' }}" alt="Elmhurst Seasonal Creamers Header Desktop" class="small--hide lazyload no-print" style="width:100%;"></a>
    <a href="/collections/creamers"><img src="{{ 'seasonal_header_MOBILE.jpg' | file_img_url: 'master' }}" alt="Elmhurst Seasonal Creamers Header Mobile" class="medium-up--hide lazyload" style="width:100%;"></a>
  </div>
</div>

<div class="rich-text-editor">
  <div class="page-width page-content">

    <div class="one-whole benefits_icons_container" style="">
      <div class="benefits_icon">{%- include '1925-icon-benefits-carrageenan' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-dairyfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-glutenfree' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-kosher' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-noartificialflavors' -%}</div>
      <div class="benefits_icon">{%- include '1925-icon-benefits-vegan' -%}</div>
    </div>

    <section class="content">

    <h2 id="" class="content-small" style="">Your Favorite seasonal flavors Just Got Better</h2>
    <p>The flavors you’ve been craving all year long are finally here. Now for a limited time, you can sip on your favorites with our Fall + Winter Creamer Collection. Featuring all the classic flavors you love this time of year and none of the added gums or fillers you don’t, our Apple Pie Spice, Pumpkin Spice, and Gingerbread Creamers are the perfect way to cozy up your coffee. So, skip the lines this year and enjoy a rich, creamy splash of spice in your morning cup right from home.</p>
    </section>

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_oat_applepie_16oz_carton_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Apple Pie Spice - 16 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Seasonal Creamer</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">1G</span> | Calories: <span style="color:#128757">15</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/creamers/products/oat-creamer-apple-pie-spice" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>
    

    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_hemp_pumpkinspice_16oz_carton_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Pumpkin Spice - 16 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Seasonal Creamer</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">1G</span> | Calories: <span style="color:#128757">20</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/collections/creamers/products/pumpkin-spice-hemp-creamer" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>


    <section class="pillar">
    <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 500px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_oat_gingerbread_16oz_carton_R1_front_720x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Gingerbread - 16 OZ</h3>
              <h4 class="product-single__sub-title social_landing">Seasonal Creamer</h4>

              <p style="text-transform: uppercase;font-weight:400">Total Sugar: <span style="color:#128757">1G</span> | Calories: <span style="color:#128757">20</span>
                <br/>
              <span style="color:#128757">Gluten-free, dairy-free, Non-GMO, No added gums or oils</span></p>

              <a class="btn" href="/products/oat-creamer-gingerbread" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">BUY NOW</a>
            </div>
    </div>
    </section>

    

  <section class="content">
    <h2 id="" class="pillar">HOW WE COMPARE</h2>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Comparison_Module_CRM_hemp_PmpkSpice_elm.png' | file_img_url: 'master' }}" />
    </div>

    <div class="grid__item large-up--one-half" style="padding-right:30px;padding-bottom:30px;text-align:center">
      <img src="{{ 'Comparison_Module_CRM_hemp_PmpkSpice_them.png' | file_img_url: 'master' }}" />
    </div>

  </section>



    <section class="content">

    <h2 id="" class="content-small" style="">A little sugar, a little spice … and ingredients? Everything nice.</h2>
    <p>You wouldn’t normally take your coffee with added gums, oils, or fillers - would you? So why are they in most other creamers, especially if they don’t need to be? Meet your new favorite plant-based creamers - made with simpler, better ingredients. Crafted with 100% whole grain oats and real hemp cream, they’re rich and creamy without all the unnecessary extras so you can enjoy your coffee the way it’s meant to be.</p>

    </section>






  </div>
</div>
