<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [{
    "@type": "Question",
    "name": "Are your products GMO-free?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all our products are verified Non-GMO by the Non-GMO Project."
    }
  },{
    "@type": "Question",
    "name": "Are your products gluten-free?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all Elmhurst products are FDA-approved gluten-free and our oat products are officially Certified Gluten Free."
    }
  },{
    "@type": "Question",
    "name": "Are your products dairy-free?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all Elmhurst products are dairy-free."
    }
  },{
    "@type": "Question",
    "name": "Are your products vegan?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes, all of our products are verified vegan by the American Vegetarian Association."
    }
  },{
    "@type": "Question",
    "name": "Are your products organic?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We aren't certified organic, but we do still take great care when it comes to our sourcing and selecting our ingredients. All our products are 100% Plant-Based, Non-GMO, Vegan, Gluten-Free, Kosher; and contain no artificial ingredients."
    }
  },{
    "@type": "Question",
    "name": "What about glyphosate in OATS?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "The oats we use in our products are all grown following Purity Protocol. This means the crops and fields are tested to best ensure that they haven’t been treated with or exposed to Glyphosate."
    }
  },{
    "@type": "Question",
    "name": "What are your natural flavors?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We use different blends of natural flavors in certain Elmhurst products. All the natural flavors we use are 100% 
            plant-based and derived from natural ingredients like spices, fruits, vegetables, herbs, and other plant materials. They’re also all recognized as safe by the FDA and are verified Vegan, Non-GMO, Gluten-Free, and Kosher."
    }
  },{
    "@type": "Question",
    "name": "Do your products use sea salt? Iodized salt?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No - the <strong>Salt</strong> listed in the ingredients of our products is non-iodized high grade vacuum evaporated salt - aka table salt. <br>
            In some of our products we also use <strong>Pink Himalayan Salt</strong>. This salt is found naturally inside of the Himalayan Mountains and we’ve confirmed with our supplier that it doesn’t contain any known allergens, including the crustacean shellfish allergen."
    }
  },{
    "@type": "Question",
    "name": "Where do your ingredients come from?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Almonds – California
Walnuts – California
Hazelnuts – Oregon
Cashews – Brazil
Oats – Canada
Hemp – North America"
    }
  },{
    "@type": "Question",
    "name": "Do I have to refrigerate my carton?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No - if the cartons or bottles are unopened, you can safely keep any of our products at room temperature until you’re ready to enjoy! After opening, keep refrigerated and use within 7-10 days."
    }
  },{
    "@type": "Question",
    "name": "How long does the product last?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Unopened, you can enjoy your Elmhurst product until the date stamped on the package (this will vary depending on when your batch was made). After opening, store in the refrigerator and use within 7 to 10 days."
    }
  },{
    "@type": "Question",
    "name": "Do you use preservatives to give your products a long shelf life?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No preservatives here! All Elmhurst products are packed and sealed in a sterile, airless environment (aka aseptically packed) so if kept sealed they can last much longer without additives even at room temperature. But, once opened you’ll need to refrigerate and use within 7-10 days."
    }
  },{
    "@type": "Question",
    "name": "Why is my product separated?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Because we don’t use gums or emulsifiers, some separation is natural especially if the product hasn’t been touched for a while. Simply give the carton a good shake and it should come back together."
    }
  },{
    "@type": "Question",
    "name": "Where are you sold?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Elmhurst is available at a wide variety of stores across the US and Canada. Check our store locator page to find a store near you and keep an eye out for your Elmhurst favorites across the globe, we’re constantly adding new locations to our list."
    }
  },{
    "@type": "Question",
    "name": "Where in the store do I find Elmhurst?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Depending on the store, you can find Elmhurst products in refrigerated section near the other plant-based milks. Or, because we're shelf-stable, you may also find us on the shelf where other plant-milks are sold (like the natural foods area)."
    }
  },{
    "@type": "Question",
    "name": "Can I order online?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! You can order any of our products through our website and have them delivered."
    }
  },{
    "@type": "Question",
    "name": "Do you deliver outside the U.S. through the website?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "We’re currently able to deliver our products directly through our website anywhere within the contiguous United States. Unfortunately, we can’t ship to Alaska, Hawaii, or outside of the US just yet."
    }
  },{
    "@type": "Question",
    "name": "Is it OK that my product did not arrive refrigerated?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! Our products are safe to be shipped and stored at room temperature. However, once opened, they will need to be refrigerated and used within 7-10 days."
    }
  },{
    "@type": "Question",
    "name": "How are Barista Editions different from your regular plant-based milks?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Our Barista Editions were specifically made to use with coffee or tea with the help of actual baristas. They’re the best option for steaming, frothing, and creating beautiful latte art, or simply lightening up and adding a splash of creaminess to your cup of coffee."
    }
  },{
    "@type": "Question",
    "name": "Is Milked Cashews a Barista Edition?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "While our Barista Editions were specifically made for coffee, our Milked Cashews is great on its own, in smoothies, to bake with, and in coffee too! It steams and froths the way baristas need it to, so we’ve marked it Barista Approved."
    }
  },{
    "@type": "Question",
    "name": "What is dipotassium phosphate?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Dipotassium phosphate is a safe water-soluble salt. At less than 2% of our barista products, it helps achieve professional-grade steaming and foaming performance."
    }
  },{
    "@type": "Question",
    "name": "Can I use Barista Editions as a creamer?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes! Although our Barista Editions are closer consistency-wise to milk, they can still be used as a creamer."
    }
  },{
    "@type": "Question",
    "name": "What is hemp cream?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "In some of our products you'll see that we've added hemp cream. This is made from FDA-approved industrial hemp seeds using the same HydroRelease method we use to make our other products."
    }
  },{
    "@type": "Question",
    "name": "Will hemp get me 'high'?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope. The hemp in our products only contains trace amounts of THC, the compound that produces psychoactive effects in cannabis, as per FDA regulations."
    }
  },{
    "@type": "Question",
    "name": "Does hemp contain CBD?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "No. There’s no CBD in any of our products."
    }
  },{
    "@type": "Question",
    "name": "Will I fail a drug test if I use your products with hemp?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Nope! The natural THC content of the hemp used in our products is extremely minimal (as required by the FDA to be considered industrial hemp) and won't be detected in drug testing."
    }
  },{
    "@type": "Question",
    "name": "Can children have hemp?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes. Hemp is safe for children."
    }
  },{
    "@type": "Question",
    "name": "Is Elmhurst®️ Milked the same as Elmhurst Dairy?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Yes and no. After closing Elmhurst Dairy in 2016, owner Henry Schwartz introduced Elmhurst 1925 in 2017 as a plant-based company. These days, Elmhurst focuses on delivering the best plant-based alternatives made with simpler, better ingredients and more nutrition from plants."
    }
  },{
    "@type": "Question",
    "name": "Where does “1925” come from?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "1925 is the year Elmhurst Dairy was founded in Queens, NY. When we made the switch from dairy to 100% plant-based, we kept the Elmhurst name and the year “1925” in honor of Henry's family legacy."
    }
  },{
    "@type": "Question",
    "name": "Where is Elmhurst based? Do you make your products there too?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "Elmhurst is based in Elma, NY – a suburb of Buffalo. And yes! We make all of our products right in Elma."
    }
  },{
    "@type": "Question",
    "name": "What does the word 'Milked' mean?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "\"Milked\" refers to the result of our special HydroRelease™  process, transforming whole grains, nuts, and seeds into naturally creamy and delicious, nutrient-rich beverages."
    }
  },{
    "@type": "Question",
    "name": "What happened to the cows when Elmhurst Dairy closed?",
    "acceptedAnswer": {
      "@type": "Answer",
      "text": "There actually weren’t any. For over 90 years Elmhurst Dairy was exclusively a dairy processing company, sourcing its milk from independent dairy farms and cooperatives."
    }
  }]
}
</script>

<div class="">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1 class="content">{{ page.title }}</h1>
      </div>

      <div class="page-width page-content">
        
        
        
        
        <h2 class="faq">Ingredients & Nutrition</h2>
        <section class="content">
      	<button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS GMO-FREE?</button>
        <div class="panel">
          <p>Yes, all our products are verified Non-GMO by the Non-GMO Project. </p>
		 </div>
          
        <button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS GLUTEN-FREE? </button>
        <div class="panel">
          <p>Yes, all our products are FDA approved Gluten-Free! </p>
        </div>
          
        <button aria-expanded="false" class="accordion">DO YOU USE CERTIFIED GLUTEN-FREE OATS? </button>
        <div class="panel">
          <p>Yes! All our products made with oats are <a href="https://gfco.org/" target="_blank">Certified Gluten-Free</a> and made with Purity Protocol grown oats. </p>
        </div>
          
        <button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS DAIRY-FREE?</button>
        <div class="panel">
          <p>Yes, all Elmhurst products are dairy-free. </p> </div>
          
          
        <button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS VEGAN? </button>
        <div class="panel">
          <p>Yes, all our products are verified vegan by the <a href="https://www.amerveg.org/" target="_blank">American Vegetarian Association.</a> </p> </div>

        <button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS ORGANIC?</button>
        <div class="panel">
          <p>We aren't certified organic, but take great care when it comes to our sourcing and selecting our ingredients. 
			All our products are 100% Plant-Based, Non-GMO, Vegan, Gluten-Free, Kosher, and contain no artificial ingredients. 
			All our products made with oats are also Certified Glyphosate Residue-Free by <a href="https://detoxproject.org/certification/glyphosate-residue-free/certified-products/" 
                                                                                             target="_blank">The Detox Project.</a> </p>
        </div>
          
          
       <button aria-expanded="false" class="accordion">WHAT ABOUT GLYPHOSATE IN OATS?</button>
        <div class="panel">
          <p>All of our products containing oats are Certified Glyphosate Residue Free by <a href="https://detoxproject.org/" target="_blank">The Detox Project</a> and are made with Purity Protocol grown oats. <br> 
          This not only helps to best ensure the oats are gluten-free, it also means that the farmers are not allowed to treat the crops with Glyphosate and both
            the crops & fields are subject to testing for it. </p></div>
          
       <button aria-expanded="false" class="accordion">DO YOU LEAVE THE SKINS ON THE NUTS? </button>
        <div class="panel">
          <p>Yes we do! To make sure we’re including as much of the natural nutrients as possible we start with unshelled whole nuts, skins and all, to make our products.</p> </div>
          
       <button aria-expanded="false" class="accordion">WHY DON’T YOU USE SPROUTED NUTS AND GRAINS?</button>
        <div class="panel">
          <p>The main reason is that our unique HydroRelease™ Method already helps to make the nutrients and micronutrients from the raw nuts, grains, and seeds we use more readily available and easily digestible </p> </div>
          
       <button aria-expanded="false" class="accordion">ARE YOUR PRODUCTS CONSIDERED RAW?</button>
        <div class="panel">
          <p>They are not. Our products go through a very brief sterilization process (UHT) where they are exposed to heat for a few seconds. 
			This doesn’t affect the nutrients in any significant way and helps make it possible for them to have a longer shelf-life without any added 
			preservatives. </p> </div>

     

        <button aria-expanded="false" class="accordion">WHAT ARE YOUR NATURAL FLAVORS?</button>
        <div class="panel">
          <p>We use different blends of natural flavors in certain Elmhurst products. All the natural flavors we use are 100% plant-based and derived 
			from natural ingredients like spices, fruits, vegetables, herbs, and other plant materials. They’re also all recognized as safe by the FDA and 
			are verified Vegan, Non-GMO, Gluten-Free, and Kosher. </p>
          </div>
          
        <button aria-expanded="false" class="accordion">DO YOUR PRODUCTS USE SEA SALT? IODIZED SALT? </button>
        <div class="panel">
          <p>No - the <strong>Salt</strong> listed in the ingredients of our products is non-iodized high grade vacuum evaporated salt - aka table salt. <br />
				In some of our products we also use <strong>Himalayan Salt</strong>. This salt is found naturally inside of the Himalayan Mountains and we’ve 
				confirmed with our supplier that is doesn’t contain any known allergens, including the crustacean shellfish allergen. </p>
        	</div>

        <button aria-expanded="false" class="accordion">WHERE DO YOUR INGREDIENTS COME FROM? </button>
       <div class="panel">
         <p>Almonds – California <br/>
          Walnuts – California <br/>
          Hazelnuts – Oregon <br/>
          Cashews – Brazil <br/>
          Oats – Canada <br/>
          Hemp – North America<br/>
         </p> </div>
          
        <button aria-expanded="false" class="accordion">DO YOU MAKE EVERYTHING IN THE SAME FACILITY? HOW DO YOU MANAGE ALLERGENS? </button>
        <div class="panel">
          <p>Yes, we want to be transparent so that our products are processed in the same facility on shared equipment. We have strict processes in place 
			including testing and thorough cleaning between batches, however if your allergy is highly sensitive, we still recommend checking with your doctor 
			or allergen specialist first to be safe. </p>
        	</div>
          
        </section>
        
        

        <h2 class="faq">Shelf Life, Storage & Packing</h2>
        <section class="content">
            <button aria-expanded="false" class="accordion">DO I HAVE TO REFRIGERATE MY CARTON?</button>
            <div class="panel">
              <p>Nope! If the carton or bottle is unopened, you can store any of our products at room temperature until you’re ready to enjoy up until the 
				date stamped on the package! After opening, keep refrigerated and use within 7-10 days. <br />
              If you purchased it refrigerated from the store, it’s still the exact same product and doesn't actually need to be kept refrigerated until it’s 
				open so you can go ahead and store extras in the pantry! </p>
          </div>

            <button aria-expanded="false" class="accordion">HOW LONG DOES IT LAST? </button>
            <div class="panel">
              <p>Unopened, our products can be enjoyed until the date stamped on the package. This will vary for each variety but is usually up to 180 days 
                (or sometimes longer) from when the batch was made. When you order with us at <a href="https://www.elmhurst1925.com" target="_blank">elmhurst1925.com</a>, you’ll always have at least 30 days from when 
				you order to enjoy, unless otherwise noted. After opening, store in the fridge and use within 7-10 days. </p>
          </div>
          
            <button aria-expanded="false" class="accordion">DO YOU USE PRESERVATIVES TO MAKE YOUR PRODUCTS LAST LONGER? </button>
            <div class="panel">
              <p>No preservatives here! All Elmhurst products are packed and sealed in a sterile, airless environment (AKA aseptically packed) so if kept sealed 
				they can last much longer without additives even at room temperature. But, once opened you’ll need to refrigerate and use within 7-10 days. </p>
          </div>
          
          <button aria-expanded="false" class="accordion">CAN I FREEZE IT TO MAKE IT LAST LONGER? </button>
            <div class="panel">
              <p>We don't recommend it and strongly suggest using them by the best by date if unopened or within about 7-10 days after opening. Freezing our 
				products affects the natural fats and proteins in them, basically meaning that when you thaw them they won't come back together into the creamy 
                plant milk you started with.  </p>
           </div>
          
            <button aria-expanded="false" class="accordion">WHY IS MY PRODUCT SEPARATED? </button>
            <div class="panel">
              <p>Because we don’t use gums or emulsifiers, some separation is natural (think like orange juice) especially if the product has been sitting for 
                a little bit. Simply give it a good shake and it should come back together.  <br>
                <span class="italic">Pro-Tip:</span> If you’re opening a new carton for the first time, we recommend opening it and then closing it back up first. This breaks the seal and 
                makes it easier to get a good shake! </p>
           </div>
          
          <button aria-expanded="false" class="accordion">WHY IS MY CARTON LEAKING WHEN I SHAKE IT? IS THERE SOMETHING WRONG WITH THE CAP? </button>
            <div class="panel">
              <p>Our caps take a few more turns to close than you might be used to, but it’s part of the reason why we don’t need to use preservatives. 
                If your carton is leaking when you shake it, it’s possible it isn’t fully closed. You may hear a few clicks, but just keep turning the cap 
                until it's fully snug and you shouldn't run into issues.  </p>
           </div>
          
          <button aria-expanded="false" class="accordion">IS YOUR PACKAGING RECYCLABLE?</button>
            <div class="panel">
              <p>Yes! Our cartons are 100% recyclable, including the cap in most of the country and the Carton Council is constantly working to expand that 
                availability. If you're not sure how to recycle cartons in your area, we'd recommend visiting their website - recyclecartons.com  </p>
           </div>
          
         </section>
        
        
        <h2 class="faq">ORDERS, PURCHASING & SHIPPING</h2>
        <section class="content">
          
          	<button aria-expanded="false" class="accordion">IS IT OK THAT MY PRODUCT DID NOT ARRIVE REFRIGERATED? </button>
            <div class="panel">
              <p>Yes! Our products are 100% safe to be shipped and stored at room temperature. However, once opened, they will need to be refrigerated and 
                used within 7-10 days</p>
         </div>
          
          	<button aria-expanded="false" class="accordion">IS THE BOX MY ORDER CAME IN RECYCLABLE? </button>
            <div class="panel">
              <p>Yes! All our shipping materials are paper-based and 100% recyclable, including the insert trays and recycled carboard shreds. We’re 
                also constantly working to reduce our footprint.  </p>
         </div>
          
            <button aria-expanded="false" class="accordion">WHERE ARE YOU SOLD? </button>
            <div class="panel">
              <p>Elmhurst is available at wide variety of stores across the US, Canada and more! Check our <a href="/pages/store-locator">store locator here</a> here to find a store near you 
                and keep an eye out for your Elmhurst favorites across the globe, we’re constantly adding new locations to our list. </p>
              
         </div>
          
            <button aria-expanded="false" class="accordion">WHERE IN THE STORE DO I FIND ELMHURST?</button>
            <div class="panel">
              <p>Depending on the store you shop in, sometimes you’ll find Elmhurst in the fridge or on the shelf (like the natural foods area), but it’s all 
                the same so no need to worry! Our products are shelf-stable – so, whether you find it already refrigerated or on the shelf it doesn’t need 
                to be kept chilled until after it’s been opened. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">CAN I ORDER ONLINE? </button>
            <div class="panel">
              <p>Yes! You can order any of our products through our website and have them delivered anywhere in the contiguous US. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">DO YOU DELIVER OUTSIDE THE U.S. THROUGH THE WEBSITE?</button>
            <div class="panel">
              <p>We can currently deliver our products directly through our website anywhere within the contiguous United States. Unfortunately, we can’t 
                ship directly to Alaska, Hawaii, or outside of the US just yet, but we do have partners who can in select regions & are always adding more 
                stores to our list! </p>
         </div>
          
            <button aria-expanded="false" class="accordion">I PURCHASED SOMEWHERE ELSE - CAN YOU HELP ME? </button>
            <div class="panel">
              <p>We’ll try our best! But for refund or replacement inquiries for a purchase made at your local store or an order placed through another 
                website like Amazon, Thrive Market, etc., please try contacting the store you purchased from first.  </p>
         </div>
        </section>
        

        

        <h2 class="faq">Barista Editions & Creamers</h2>
        <section class="content">
            <button aria-expanded="false" class="accordion">HOW ARE BARISTA EDITIONS DIFFERENT FROM YOUR REGULAR PLANT-BASED MILKS? </button>
            <div class="panel">
              <p>Our Barista Editions were specifically made to use with coffee or tea with the help of actual baristas. They’re the best option for steaming, 
                frothing, and creating beautiful latte art, or simply lightening up and adding a splash of creaminess to your cup of coffee. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">IS MILKED CASHEWS A BARISTA EDITION? </button>
            <div class="panel">
              <p>While our Barista Editions were specifically made for coffee, our Milked Cashews is great on its own, in smoothies, to bake with, and in 
                coffee too! It steams and froths the way baristas need it to, so we’ve marked it Barista Approved. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">WHAT IS DIPOTASSIUM PHOSPHATE? </button>
            <div class="panel">
              <p>Dipotassium phosphate is a safe water-soluble salt. At less than 2% of our barista products, it helps make sure it performs the way baristas need it to. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">CAN I USE THE BARISTA EDITIONS AS A CREAMER? </button>
            <div class="panel">
              <p>Yes! Although our Barista Editions are closer consistency-wise to milk, they can still be used as a creamer.</p>
         </div>
          
         
<!--         <h2 class="faq">Hemp Creamer</h2> -->
        
            <button aria-expanded="false" class="accordion">WILL HEMP GET ME "HIGH"? </button>
            <div class="panel">
              <p>Nope. The hemp in our products only contains trace amounts of THC, the compound that produces psychoactive effects in cannabis, as per FDA 
                regulations. </p> </div>
          
     
            <button aria-expanded="false" class="accordion">DOES HEMP CONTAIN CBD? </button>
            <div class="panel">
              <p>No. There’s no CBD in any of our products. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">WILL I FAIL A DRUG TEST IF I CONSUME HEMP?</button>
            <div class="panel">
              <p>Nope! The natural THC content of the hemp used in our products is extremely minimal (as required by the FDA to be considered industrial hemp) and won't be detected in drug testing. </p>
         </div>
          
            <button aria-expanded="false" class="accordion">CAN CHILDREN HAVE HEMP?</button>
            <div class="panel">
              <p>Yes. Hemp is safe for children. </p>
         </div>
          
                
        </section>
        
        <h2 class="faq">About Elmhurst</h2>
        <section class="content">
      	<button aria-expanded="false" class="accordion">IS ELMHURST® 1925 THE SAME AS ELMHURST DAIRY? </button>
        <div class="panel">
    		<p>Yes and no. After closing Elmhurst Dairy in 2016, owner Henry Schwartz introduced Elmhurst 1925 in 2017 as a plant-based company. These days, 
              Elmhurst focuses on delivering the best plant-based alternatives made with simpler, better ingredients and more nutrition from plants. 
			</p>
		 </div>
          
           
        <button aria-expanded="false" class="accordion">WHERE DOES THE “1925” COME FROM? </button>
        <div class="panel">
          <p>1925 is the year Elmhurst Dairy was founded in Queens, NY. When we made the switch from dairy to 100% plant-based, we kept the Elmhurst name and 
            the year “1925” in honor of Henry's family legacy. </p>
		 </div>
          
        <button aria-expanded="false" class="accordion">WHERE IS ELMHURST BASED? DO YOU MAKE YOUR PRODUCTS THERE TOO? </button>
        <div class="panel">
          <p>Elmhurst is based in Elma, NY – a suburb of Buffalo. And yes! We make all of our products right in Elma. </p>
          </div>
          
        <button aria-expanded="false" class="accordion">WHAT DOES THE WORD "MILKED" MEAN? </button>
        <div class="panel">
          <p>"Milked" refers to the result of our special HydroRelease™  process, transforming whole grains, nuts, and seeds into naturally creamy and delicious, nutrient rich beverages. </p>
          </div>  
          
     
          
        <button aria-expanded="false" class="accordion">WHAT HAPPENED TO THE COWS WHEN ELMHURST DAIRY CLOSED? </button>
        <div class="panel">
          <p>There actually weren’t any. For over 90 years Elmhurst Dairy was exclusively a dairy processing company, sourcing its milk from independent 
            dairy farms and cooperatives. </p>
		 </div>
    
        </section>

        
        
        <section class="content" style="text-align:center;">
          <a class="btn" href="/pages/subscription-faq" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Subscription FAQs</a>
          </section>




      		
      </div>
    </div>
  </div>
</div>

<script>

  
  var coll = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none"; 
      this.setAttribute('aria-expanded', 'false');   
    } else {
      content.style.display = "block";
      this.setAttribute('aria-expanded', 'true');
    }
  });
}

</script>
