<div class="page-width">
  <div class="grid">
    <div class="grid__item">


        <div class="rte ebook_landing_optin">
            
          <div class="ebook_optin_form_container">
            <div class="ebook_optin_form-img_container">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/10Desserts_Ebook_Cover_low.jpg" data-src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/10Desserts_Ebook_Cover.png" class="lazyload">
            </div>
            <div class="ebook_optin_form-form_container">
              <div style="">
                <h2 class="ebook_optin_header">Craving something sweet?<br/>We are too!</h2>
                <p class="ebook_optin_subheader">We'll send a copy to your inbox. You deserve it.</p>
              </div>
              <div class="klaviyo-form-LB6Dmy"></div>
              <div class="klaviyo-form-PDKcGT"></div>

            </div>
          </div>


          <div class="grid">
            <div class="grid__item large-up--one-half medium-down--hide">
                <video autoplay="" loop="" muted="" playsinline="" style="max-width:100%">
                  <source src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/RecipeEbook_ScrollThrough.mp4" type="video/mp4" class="lazyload">
                  </source>
                </video>
            </div>

            <div class="grid__item large-up--one-half">
              <h2 style="color: #128757;font-weight:700;">What's Inside</h2>
              <p>We've gone cover-to-cover with 10 dessert recipes, edible almost right from the page. Only these plant-based treats are made to be sumptuous without the stomachaches. You'll find:</p>
              <ul style="margin:8px">
                <li>Tropical treasures, like a three-ingredient Mango "Nice" Cream</li>
                <li>Colorful creations, featuring a Raspberry Muffin Smoothie</li>
                <li>Inspired indulgences, including Creamy Chocolate Avocado Mousse</li>
                <li>No-fuss nourishment, led by No-Bake Chocolate Oatmeal Cookies</li>
                <li>And more!</li>
              </ul>
            </div>
          </div>

          {% comment %}
          <div class="grid">
            <div class="grid__item one-whole">
              <hr class="optin">
            <section class="pillar" style="text-align:center;margin-bottom:0;">
            <h2 class="ebook_optin_sharelink">Share with a friend</h2>
            <a id="morerecipes" class="btn" href="#" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Get Link</a>
            </section>
            <hr class="optin">
            </div>
          </div>
          {% endcomment %}


        </div>
    </div>
  </div>
</div>
