<div class="page-width page-content">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="section-header text-center">
        <h1 class="content" style="text-transform: none;">{{ page.title }}</h1>
      </div>

      <section class="content">


        <img src="{{ 'Chosen_1_SQ.jpg' | file_img_url: 'master' }}" alt="" class="lazyload" style="width:100%;" alt="Giveaway">

        <h2 class="content-small">Enter to Win!</h2>
        <p>The holidays just got sweeter with one last giveaway to finish out the season right! And of course we saved an extra special treat for this one. One lucky winner will receive everything you need to make a batch of creamy, dreamy ice cream at home + grab some extra Elmhurst goodies of your choice!  All you need to do to enter is drop your name + email down below!</p>

       
        <h2 id="" class="" style="font-weight:600;text-decoration-line: underline;">THE PRIZE</h2>
          <ul>
            <li><strong>Homemade Ice Cream Kit with</strong>:</li>
            <li>- 2 Cartons of Vanilla Oat Ice Cream Mix</li>
            <li>- 2 Cartons of Chocolate Oat Ice Cream Mix</li>
            <li>- a Zoku Ice Cream Maker Bowl</li>
            <li></li>
            <li><strong>$10 Gift Card to use on any of our products at elmhurst1925.com</strong></li>
          </ul>
        </section>


        <div style="width:100%;min-height:300px";>
        <div class="klaviyo-form-SW9iGu"></div>
        </div>


        <section class="content">
        <p>This giveaway ends Thursday, 12/24 at 11:59p ET so be sure to get your entry in + don’t forget to enter on Instagram too <a href="https://www.instagram.com/elmhurst1925/">@elmhurst1925</a>! If you’re selected as our lucky winner we’ll send you an email letting you know how to claim your prize – Good luck everyone!</p> 
        </section>



    </div>
  </div>
</div>
