<div class="page-width">
  <div class="grid">
    <div class="grid__item">


        <div class="rte ebook_landing_optin">
          

           <div class="ebook_optin_form_confirm_container">
            <div class="ebook_optin_form-img_container">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/10Desserts_Ebook_Cover.png?16804">
            </div>
            <div class="ebook_optin_form-form_container">
              <div style="">
                <h2 class="ebook_optin_header">Thank You</h2>
                <p class="ebook_optin_subheader">WE'RE SO EXCITED FOR YOU TO TRY THESE DELICIOUS RECIPES! WE'VE INCLUDED OUR BELOVED MANGO "NICE" CREAM BELOW. IF THIS INSPIRES YOUR TASTE BUDS, YOU CAN DOWNLOAD OUR E-BOOK RIGHT NOW FOR 9 MORE!</p>
              </div>
            </div>
          </div>

          <div class="grid">
            <div class="grid__item one-whole">
              <hr class="optinconfirm">
            <section class="pillar" style="text-align:center;margin-bottom:0;">
            <h2 class="ebook_optin_sharelink">Download the e-book now</h2>
            <a id="morerecipes" class="btn" href="{{ 'eBook_Top10PlantBasedDesserts.pdf' | file_url }}" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Download</a>
            </section>
            <hr class="optinconfirm">
            </div>
          </div>

          <div class="grid">
            <div class="grid__item large-up--one-half">
              <section class="pillar">
              <h2 style="color: #128757;font-weight:700;">Mango "Nice" Cream</h2>
              <p>Made with three native flavors of the tropics, this super-easy mango "nice" cream brings the beach right to you. Joining the namesake fruit are banana and cashew in the form of <a href="/collections/all/products/unsweetened-milked-cashews">Elmhurst Unsweetened Milked Cashews</a>™. All you need is a blender! You can mix things up further by using any Elmhurst plant milk – for instance <a href="/collections/all/products/unsweetened-milked-walnuts">Unsweetened Milked Walnuts</a>™.</p>
              </section>
            </div>
            <div class="grid__item large-up--one-half">
              <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/MangoNiceCream.jpg" alt="Mango Nice Cream" style="max-width: 1550px;" class="small--hide one-whole mb-35 lazyload" />
              <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/MangoNiceCream_SQ.jpg" alt="Mango Nice Cream" class="medium-up--hide one-whole mb-35 no-print lazyload" />
            </div>
          </div>


          <div class="blog-recipe-block one-whole mb-35">
          <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
          <h3 class="recipe-recipe-block-header underline">Ingredients</h3>
          <ul>
          <li>¼ cup <a href="/collections/plant-milks/products/unsweetened-milked-cashews">Elmhurst Unsweetened Milked Cashews™</a></li>
          <li>1 cup Mango, frozen &amp; sliced</li>
          <li>1 Banana, frozen &amp; sliced</li>
          </ul>
          </div>
          <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
          <h3 class="recipe-recipe-block-header underline">Preparation</h3>
          <ol>
          <li>Add the frozen fruit to a blender or food processor and just enough of the cashew milk for the blades to run. Start with a little at a time and add more as needed.</li>
          <li>This will be thicker than a smoothie, so you may need to stop your blender and scrape down the sides a few times to get everything smooth. Blend until well combined.</li>
          <li>The consistency should be about that of soft-serve or custard and when you tip your blender pitcher back and forth it should mostly stay put.</li>
          <li>Enjoy as is, or pop in the freezer for 15 minutes before serving for a firmer nice cream!</li>
          </ol>
          </div>
          </div>



        </div>
    </div>
  </div>
</div>
