<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <section class="content text-center">
   		 <p>Thanks for subscribing with us and we’re so sorry to have to move your ship date for this month! Because all our products and our facility are OU Kosher, 
           we won’t able to ship any of our products made with grains from <strong>March 26th - April 4th in observance of Passover</strong>.
         </p>
        <p>And since your subscription would normally go out that week, we wanted to give you the option to have it shipped the week before or after Passover instead. 
          Just enter your info below to let us know which you’d prefer and we’ll handle the rest! Or, if we don’t hear back from you, you can expect your order to ship 
          the week of April 5th </p>
        
        
        <div class="powr-form-builder" id="c34d9b89_1615558776"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
        
        
      <p style="font-size: 12px; padding-top:10px; font-style:italic;">
        *This change will only apply to subscription orders normally scheduled to be shipped between March 26th - April 4th. Your next subscription delivery will ship on 
        your regularly scheduled date. </p>
        
      </section>
    </div>
  </div>
</div>
