<div class="page-width">
  <div class="grid">
    <div class="grid__item">


        <div class="rte ebook_landing_optin">
            
          <div class="friendsgiving_ebook_optin_form_container">
            <div class="ebook_optin_form-img_container">
            <img src="{{ '2020_ThanksgivingRecipes_Ebook_Cover_low.jpg' | file_img_url: 'master' }}" data-src="{{ '2020_ThanksgivingRecipes_Ebook_Cover.png' | file_img_url: 'master' }}" class="lazyload">
            </div>
            <div class="ebook_optin_form-form_container">
              <div style="">
                <h2 class="ebook_optin_header" style="color:white">Plant-Based Recipes<br/>You'll be thankful for.</h2>
                <p class="ebook_optin_subheader" style="color:white">Let's make thanksgiving simpler, we'll send a copy directly to your inbox.</p>
              </div>
              <div class="klaviyo-form-PN6C66"></div>
              <!-- Go right to ebook if already on list -->
              <div class="klaviyo-form-LQCpBC"></div>

            </div>
          </div>


          <div class="grid">
            <div class="grid__item large-up--one-half medium-down--hide">
                <video autoplay="" loop="" muted="" playsinline="" style="max-width:100%">
                  <source src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/2020_RecipeEbook_Friendsgiving_ScrollThrough.mp4?" class="lazyload">
                  </source>
                </video>
            </div>

            <div class="grid__item large-up--one-half">
              <h2 style="color: #128757;font-weight:700;">What's Inside</h2>
              <p>This season, we’re giving thanks with a brand-new recipe book. From drinks to dessert, your vegan Thanksgiving dinner is between these e-pages. Or keep your Elmhurst® on hand for some reminiscent winter comfort. You’ll find:</p>
              <ul style="margin:8px">
                <li>A walnut vinaigrette for a bold and blissful start</li>
                <li>The seasonal warmth of a creamy pumpkin apple bisque</li>
                <li>Dairy-defiant mashed potatoes made with plant milk</li>
                <li>Fall-flavored latte and desserts for the second phase of the feast</li>
                <li>A buttered pecan pie cocktail made with Monin® gourmet syrup</li>
              </ul>
            </div>
          </div>


        </div>
    </div>
  </div>
</div>
