<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>Welcome to Elmhurst 1925!</h1>
      </div>

      <section class="content text-center">
   		 <p>Congrats! You’re all signed up and ready to start shopping. 
        

    	<div style="text-align:center">
    <a class="btn" href="/collections/all" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">SHOP NOW</a>
    </div>
        
  </section>
    </div>
  </div>
</div>
