<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">


        <div class="rte social_landing">
                
            
            <div class="IG_Social-header">
            <div class="IG_Social-header-logo" style="">
                <svg xmlns="http://www.w3.org/2000/svg" height="100%" width="100%" viewBox="0 0 536.37 620.09"><title>Elmhurst_Instagram</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M291.14,136a11.87,11.87,0,0,1,6.61,2.21c-4.77,14.68-7,27.52-7,38.16,0,14.68,4,26.42,10.64,35.59,19.81-13.94,36-62.38,36-99.07,0-20.55-5.14-37.43-17.61-42.94-44-.36-80.55,79.12-83.31,142.38-1,22.62,1.12,40.84,10.28,56.88a225.91,225.91,0,0,0,45.51-19.08c3.66,5.13,5.5,10.64,5.5,15.41,0,16.15-14.32,26.79-32.3,26.79-9.91,0-21.28-3.31-30.83-9.18-36.69,14.32-53.2,61.28-53.2,96.15,0,16.87,4,30.45,11.74,34.86,40.73-1.47,57.24-59.82,59.08-95.78a49.64,49.64,0,0,1,7-.73c16.88,0,24.95,12.84,24.95,29.72,0,33.39-28.26,81.46-78.53,81.46-44.41,0-63.13-29-63.13-61.65,0-42.93,31.2-90.27,80-94.3-11.51-14.05-20.19-34.2-20.19-67.52,0-68.25,40.74-150.45,106.06-150.45,44.77,0,62.39,32.29,62.39,69,0,47.7-30.1,102-70.47,102-22.52,0-37.88-15.27-37.88-43.77,0-21.55,17.22-46.14,28.71-46.14"/><path d="M256.65,486.28A243.15,243.15,0,0,1,84.72,71.21,243.14,243.14,0,0,1,428.57,415.06,241.52,241.52,0,0,1,256.65,486.28Zm0-479.78a236.64,236.64,0,0,0-167.33,404A236.64,236.64,0,0,0,424,75.81,235.06,235.06,0,0,0,256.65,6.5Z" fill="#c6c6c7"/><path d="M256.65,460.31A218,218,0,0,1,102.48,88.13,218,218,0,0,1,410.81,396.46,216.58,216.58,0,0,1,256.65,460.31Zm0-433a215,215,0,0,0-152,367.07A215,215,0,0,0,408.69,90.25,213.64,213.64,0,0,0,256.65,27.27Z" fill="#c6c6c7"/><path d="M7.73,603.26a13.66,13.66,0,0,0,.58,3.94A9.81,9.81,0,0,0,10,610.52,8.25,8.25,0,0,0,13,612.79a9.55,9.55,0,0,0,4.21.85,9.24,9.24,0,0,0,5.46-1.46,8.55,8.55,0,0,0,3.08-4.37H33a14.6,14.6,0,0,1-2.1,5.09,14.83,14.83,0,0,1-3.6,3.76A15.43,15.43,0,0,1,22.63,619a19,19,0,0,1-5.46.78,18.47,18.47,0,0,1-7.33-1.36,15.06,15.06,0,0,1-5.4-3.8,16.17,16.17,0,0,1-3.32-5.83A23.61,23.61,0,0,1,0,601.29a21.19,21.19,0,0,1,1.19-7.09,18.24,18.24,0,0,1,3.39-5.9,16.41,16.41,0,0,1,5.33-4A16.21,16.21,0,0,1,17,582.77a15.75,15.75,0,0,1,7.43,1.73,16.33,16.33,0,0,1,5.46,4.58A18.55,18.55,0,0,1,33,595.63a20.32,20.32,0,0,1,.51,7.63Zm18.05-5.09a12.4,12.4,0,0,0-.78-3.52,9.61,9.61,0,0,0-1.76-3,8.81,8.81,0,0,0-2.72-2,8,8,0,0,0-3.56-.78,9.42,9.42,0,0,0-3.7.71,8.52,8.52,0,0,0-2.84,2,9.53,9.53,0,0,0-1.9,3,10.28,10.28,0,0,0-.79,3.66Z" fill="#231f20"/><path d="M43,570.36h7.73V618.8H43Z" fill="#231f20"/><path d="M62.56,583.72h7.32v4.89h.21a19.44,19.44,0,0,1,1.9-2.38,10.48,10.48,0,0,1,2.27-1.83,11.74,11.74,0,0,1,2.88-1.19,14.54,14.54,0,0,1,3.74-.44,12.69,12.69,0,0,1,5.93,1.43,8.07,8.07,0,0,1,3.9,4.41,15.6,15.6,0,0,1,4.55-4.28,12.26,12.26,0,0,1,6.44-1.56c3.71,0,6.6.91,8.65,2.72s3.09,4.84,3.09,9.09V618.8h-7.73V598.31c0-1.4,0-2.68-.14-3.83a7.82,7.82,0,0,0-.78-3,4.39,4.39,0,0,0-1.93-1.93,7.56,7.56,0,0,0-3.53-.68q-3.93,0-5.7,2.44c-1.18,1.63-1.76,3.94-1.76,6.92V618.8H84.13V596.27a9.58,9.58,0,0,0-1.32-5.53q-1.32-1.86-4.85-1.86a7.07,7.07,0,0,0-2.89.61,7.25,7.25,0,0,0-2.44,1.76,8.69,8.69,0,0,0-1.69,2.85,10.61,10.61,0,0,0-.65,3.87V618.8H62.56Z" fill="#231f20"/><path d="M125,570.36h7.73v18h.14a11.17,11.17,0,0,1,4.24-4,12.42,12.42,0,0,1,6.27-1.6q5.77,0,9.09,3t3.33,9V618.8H148v-22c-.09-2.76-.67-4.76-1.76-6s-2.78-1.86-5.09-1.86a8.49,8.49,0,0,0-3.53.71,7.63,7.63,0,0,0-2.64,2,9.23,9.23,0,0,0-1.7,3,10.47,10.47,0,0,0-.61,3.6V618.8H125Z" fill="#231f20"/><path d="M198.12,618.8h-7.6v-4.89h-.14a10.55,10.55,0,0,1-4.24,4.24,11.46,11.46,0,0,1-5.73,1.6q-6.93,0-10-3.43T167.31,606V583.72h7.74v21.51q0,4.62,1.76,6.51a6.42,6.42,0,0,0,4.95,1.9,9.79,9.79,0,0,0,4.08-.74,7.34,7.34,0,0,0,2.64-2,7.67,7.67,0,0,0,1.46-3,15.9,15.9,0,0,0,.44-3.8V583.72h7.74Z" fill="#231f20"/><path d="M209.65,583.72h7.26v6.79h.14a7.72,7.72,0,0,1,1.32-2.79,12.54,12.54,0,0,1,2.37-2.47,11.91,11.91,0,0,1,3.09-1.8,9.27,9.27,0,0,1,3.46-.68,18.21,18.21,0,0,1,1.87.07l1.05.14v7.46c-.55-.09-1.1-.17-1.66-.24a13.6,13.6,0,0,0-1.67-.1,8.85,8.85,0,0,0-3.69.78,8.34,8.34,0,0,0-3,2.31,11.27,11.27,0,0,0-2,3.76,16.21,16.21,0,0,0-.75,5.16V618.8h-7.73Z" fill="#231f20"/><path d="M242.76,607.54a5.81,5.81,0,0,0,2.58,4.75,10.18,10.18,0,0,0,5.36,1.35,19.22,19.22,0,0,0,2.47-.17,10.58,10.58,0,0,0,2.62-.64,5,5,0,0,0,2-1.39,3.37,3.37,0,0,0,.71-2.41,3.41,3.41,0,0,0-1.09-2.44,7.3,7.3,0,0,0-2.61-1.53,25.52,25.52,0,0,0-3.63-1c-1.36-.28-2.73-.57-4.14-.89a38,38,0,0,1-4.17-1.15,13.35,13.35,0,0,1-3.59-1.83,8.37,8.37,0,0,1-2.55-3,9.48,9.48,0,0,1-.95-4.45,8,8,0,0,1,1.39-4.78,10.71,10.71,0,0,1,3.53-3.12,15.2,15.2,0,0,1,4.75-1.66,27.58,27.58,0,0,1,5-.48,22.62,22.62,0,0,1,5.19.58,14.13,14.13,0,0,1,4.47,1.86,10.9,10.9,0,0,1,3.33,3.36,11.74,11.74,0,0,1,1.66,5H257a4.83,4.83,0,0,0-2.55-3.73,10.59,10.59,0,0,0-4.58-1A16.38,16.38,0,0,0,248,589a8.72,8.72,0,0,0-2.1.51,4.45,4.45,0,0,0-1.67,1.09,2.59,2.59,0,0,0-.67,1.86,2.94,2.94,0,0,0,1,2.31,7.56,7.56,0,0,0,2.58,1.46,25.52,25.52,0,0,0,3.63,1c1.35.28,2.76.57,4.2.89a40.8,40.8,0,0,1,4.14,1.15,13.16,13.16,0,0,1,3.63,1.83,9,9,0,0,1,2.58,2.92,8.76,8.76,0,0,1,1,4.34,9.41,9.41,0,0,1-1.42,5.29,11.16,11.16,0,0,1-3.7,3.53,16.72,16.72,0,0,1-5.05,2,25.46,25.46,0,0,1-5.5.61,23.8,23.8,0,0,1-6.14-.75,14.08,14.08,0,0,1-4.88-2.27,11,11,0,0,1-3.26-3.8,12.14,12.14,0,0,1-1.26-5.39Z" fill="#231f20"/><path d="M272,583.72h5.84V573.21h7.73v10.51h7v5.77h-7v18.72a18.3,18.3,0,0,0,.1,2.11,3.64,3.64,0,0,0,.48,1.49,2.29,2.29,0,0,0,1.12.92,5.54,5.54,0,0,0,2,.3c.55,0,1.09,0,1.63,0a7.64,7.64,0,0,0,1.63-.24v6l-2.51.27a22.89,22.89,0,0,1-2.51.14,16.88,16.88,0,0,1-4.92-.58,6.55,6.55,0,0,1-2.92-1.69,5.82,5.82,0,0,1-1.42-2.82,20.64,20.64,0,0,1-.44-3.87V589.49H272Z" fill="#231f20"/><path d="M301,579.18a27.43,27.43,0,0,0,4.75-.41,14.49,14.49,0,0,0,4.17-1.36,10.62,10.62,0,0,0,3.19-2.44,7.48,7.48,0,0,0,1.73-3.66h6.31V618.8h-8.48V585.28H301Z" fill="#231f20"/><path d="M345.28,606.79a7.39,7.39,0,0,0,2.07,4.72,6.56,6.56,0,0,0,4.85,1.79,7.19,7.19,0,0,0,5-1.66,11.09,11.09,0,0,0,2.89-4.14,21.11,21.11,0,0,0,1.39-5.29q.38-2.82.57-5.19l-.13-.14a10.52,10.52,0,0,1-4.28,4.24,12.3,12.3,0,0,1-6,1.46,15.73,15.73,0,0,1-6.14-1.15,13.76,13.76,0,0,1-4.71-3.22,14.42,14.42,0,0,1-3.05-5,19,19,0,0,1-1.09-6.62,18.28,18.28,0,0,1,1.09-6.41,14.71,14.71,0,0,1,3.18-5.16,14.47,14.47,0,0,1,5.16-3.42,18.4,18.4,0,0,1,6.92-1.22,16,16,0,0,1,8.28,1.93,13.84,13.84,0,0,1,5.12,5.29,24.46,24.46,0,0,1,2.61,7.91,59.57,59.57,0,0,1,.75,9.7,41.61,41.61,0,0,1-.92,8.61,25.78,25.78,0,0,1-3,7.91,17.41,17.41,0,0,1-5.52,5.8,16.47,16.47,0,0,1-13.81,1.29,14.33,14.33,0,0,1-4.45-2.65,13.64,13.64,0,0,1-3.15-4.07,12.59,12.59,0,0,1-1.36-5.29Zm7.39-30a8.09,8.09,0,0,0-3.66.78,7.17,7.17,0,0,0-2.58,2.14,9.47,9.47,0,0,0-1.53,3.12,13.15,13.15,0,0,0-.5,3.66,13.73,13.73,0,0,0,.5,3.77,9.43,9.43,0,0,0,1.53,3.15,7.9,7.9,0,0,0,2.58,2.21,7.5,7.5,0,0,0,3.66.85,8.28,8.28,0,0,0,3.8-.82,7.4,7.4,0,0,0,2.68-2.2,10.28,10.28,0,0,0,1.6-3.19,13,13,0,0,0,.54-3.77,12.47,12.47,0,0,0-.54-3.66,9.44,9.44,0,0,0-1.6-3.09,7.77,7.77,0,0,0-2.68-2.13A8.28,8.28,0,0,0,352.67,576.8Z" fill="#231f20"/><path d="M413.94,618.8H381.51a19.23,19.23,0,0,1,2.85-10.31,25.91,25.91,0,0,1,7.6-7.67c1.53-1.13,3.14-2.23,4.81-3.29a38.18,38.18,0,0,0,4.62-3.43,18.31,18.31,0,0,0,3.46-4,9.39,9.39,0,0,0,1.42-4.92,13.65,13.65,0,0,0-.3-2.74,7.34,7.34,0,0,0-1.19-2.72,7.12,7.12,0,0,0-2.44-2.1,8.45,8.45,0,0,0-4.07-.85,7.38,7.38,0,0,0-3.84.92,6.91,6.91,0,0,0-2.44,2.51,12.72,12.72,0,0,0-1.36,3.76,28.17,28.17,0,0,0-.51,4.68h-7.73a24.33,24.33,0,0,1,1.05-7.29,16.05,16.05,0,0,1,3.16-5.8,14.77,14.77,0,0,1,5.12-3.83,18.84,18.84,0,0,1,14.28,0,13.92,13.92,0,0,1,4.72,3.6,13.28,13.28,0,0,1,2.54,4.71,17.21,17.21,0,0,1,.75,4.85,14.54,14.54,0,0,1-.88,5.16,16.81,16.81,0,0,1-2.38,4.24,23.73,23.73,0,0,1-3.39,3.56q-1.91,1.64-3.94,3.06t-4.07,2.71q-2,1.29-3.76,2.58a21.63,21.63,0,0,0-3,2.68,7.61,7.61,0,0,0-1.77,3h23.14Z" fill="#231f20"/><path d="M431.72,571.31h24.56v6.92h-18.8L435,590.3l.14.14a9.84,9.84,0,0,1,4-2.68,13.43,13.43,0,0,1,4.79-.92,16,16,0,0,1,6.31,1.19,13.08,13.08,0,0,1,4.68,3.32,14.43,14.43,0,0,1,2.88,5.06,19.5,19.5,0,0,1,1,6.31,20.19,20.19,0,0,1-.92,5.87,16,16,0,0,1-2.92,5.49,15.4,15.4,0,0,1-5.12,4.07,16.14,16.14,0,0,1-7.46,1.6,21.49,21.49,0,0,1-6.41-.92,15.18,15.18,0,0,1-5.19-2.74,13.55,13.55,0,0,1-3.57-4.52,15.32,15.32,0,0,1-1.46-6.27h7.74a8.58,8.58,0,0,0,2.65,5.93,8.77,8.77,0,0,0,6.1,2.07,9.55,9.55,0,0,0,4.14-.81,7.22,7.22,0,0,0,2.75-2.24,8.9,8.9,0,0,0,1.49-3.32,18.29,18.29,0,0,0,.44-4.08,13,13,0,0,0-.54-3.76,9.39,9.39,0,0,0-1.63-3.16,7.83,7.83,0,0,0-2.82-2.17,9.41,9.41,0,0,0-4-.81,11.32,11.32,0,0,0-4.58.92,5.67,5.67,0,0,0-3.09,3.42h-7.73Z" fill="#231f20"/><polygon points="532.52 595.22 536.37 588.55 529.71 584.7 529.71 577.01 522.01 577.01 518.16 570.34 511.5 574.19 504.83 570.34 500.99 577.01 493.29 577.01 493.29 584.7 486.63 588.55 490.47 595.22 486.63 601.88 493.29 605.73 493.29 613.42 500.99 613.42 504.83 620.09 511.5 616.24 518.16 620.09 522.01 613.42 529.71 613.42 529.71 605.73 536.37 601.88 532.52 595.22" fill="#429cd6"/><polygon points="508.96 605.81 499.77 596.62 502.95 593.44 508.96 599.45 520.79 587.62 523.98 590.8 508.96 605.81" fill="#fff"/></g></g></svg>
            </div>

            <div class="IG_Social-header-message" style="color:#128757;text-transform: uppercase;">
                <h1 style="text-align:center;font-size:60px;">Hello 1925ers</h1>
                <p style="font-size:30px;color:#128757;margin-bottom:0">So glad you could stop by! Lorem Ipsum Dolor Sit Amet, Consectetur AdLorem Ipsum Dolor Sit Amet, Consectetur Ad</p>
            </div>

            </div>

            <div class="social-quotes" style="">
                <div>
                <p>"Wow! I had no idea you guys were originally a dairy company! I adore your product ❤️ it's the only oat milk I'll drink 😉"</p>
                <p>Alexandra, Instagram</p>
                </div>
                <div>
                <p>"Wow! I had no idea you guys were originally a dairy company! I adore your product ❤️ it's the only oat milk I'll drink 😉"</p>
                <p>Lauren, Instagram</p>
                </div>
                <div>
                <p>"Wow! I had no idea you guys were originally a dairy company! I adore your product ❤️ it's the only oat milk I'll drink 😉"</p>
                <p>Joe, Instagram</p>
                </div>
            </div>

        <nav id="pillar__table-of-contents">
          <h2 class="pillar">Table of Contents</h2>
          <ul class="pillar__toc">
            <li><a href="#favoriterecipes" alt="">Our favorite recipes</a></li>
            <li><a href="#morerecipes" alt="">Deep dive into our recipes</a></li>
            <li><a href="#whichmilk" alt="">What plant milk is best for you?</a></li>
            <li><a href="#meetourfavorites" alt="">Download our Dessert Recipe Ebook</a></li>
           </ul>
        </nav>

        <section class="pillar">
          <h2 id="favoriterecipes" class="pillar">Our favorite recipe right now</h2>
          <p style="color:#128757;font-weight:600;margin-bottom:0;text-transform: uppercase;">Chocolate Avocado Mousse</p>
          <p>Paragraph of text goes here. Paragraph of text goes here. Paragraph of text goes here.Paragraph of text goes here.
          Paragraph of text goes here. Paragraph of text goes here. Paragraph of text goes here. Paragraph of text goes here. 
          Paragraph of text goes here. Paragraph of text goes here.</p>
        </section>

        <img src="{{ 'ChocoAvocadoMousse_1920x1080_f29ed6a5-65e0-45df-bddf-5a766430160f.jpg' | file_img_url: 'master' }}" alt="" style="max-width: 1550px;" class="small--hide one-whole mb-35 lazyload" />
        <img src="{{ 'ChocoAvocadoMousse_Horiz_SQ.jpg' | file_img_url: 'master' }}" alt="" class="medium-up--hide one-whole mb-35 no-print lazyload" />

        <div class="blog-recipe-block one-whole mb-35">
        <div class="blog-recipe-block-ingredients grid__item medium-up--one-half">
        <h3 class="recipe-recipe-block-header underline">Ingredients</h3>
        <ul>
        <li>½ cup <a href="/collections/plant-milks/products/unsweetened-milked-hazelnuts">Unsweetened Milked Hazelnuts</a>, or unsweetened nut milk of your choice.</li>
        <li>1 tsp. Espresso - Instant</li>
        <li>½ cup Cocoa Powder</li>
        <li>3 ½ cups Haas Avocados</li>
        <li>¼ cup Coconut Oil - Melted</li>
        <li>3 Tbsp. Maple Syrup</li>
        <li>⅛ tsp. Salt</li>
        <li>1 tsp. Vanilla Extract</li>
        </ul>
        </div>
        <div class="blog-recipe-block-instructions grid__item medium-up--one-half">
        <h3 class="recipe-recipe-block-header underline">Preparation</h3>
        <ol>
        <li>In a bowl, combine the unsweetened almond milk and instant espresso, allowing for the espresso to completely disolve.</li>
        <li>In a food processor, combine all your ingredients including the blended almond milk and espresso mixture and blend until smooth.</li>
        <li>Divide into desired mousse cups. Top with non-dairy whipped topping and vegan chocolate chips, hazelnuts and enjoy!</li>
        </ol>
        </div>
        </div>


        <section class="pillar" style="text-align: center;">
          <a id="morerecipes" class="btn" href="/blogs/recipes" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">More Recipes</a>
        </section>

        <a href=""><img src="{{ 'Desktop_12Desserts_NativeAd.png' | file_img_url: 'master' }}" alt="" style="max-width: 1550px;" class="small--hide one-whole mb-35 lazyload" />
        <img src="{{ 'Mobile_12Desserts_NativeAd.png' | file_img_url: 'master' }}" alt="" class="medium-up--hide one-whole mb-35 no-print lazyload" /></a>


        <section class="pillar">
          <h2 id="whichmilk" class="pillar">Which Plant Milk Is For You</h2>
          <p>Comparison Table Goes Here</p>
        </section>

        <section class="pillar">
          <h2 id="meetourfavorites" class="pillar">Meet Our Favorites</h2>
          
          <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_almondsus_front_hr_540x.jpg?v=1556033892" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Almonds™</h3>
              <h4 class="product-single__sub-title social_landing">Unsweetened</h4>
              <p>Made with just nuts and water, this is as close to drinking whole almonds as you can get.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a>
            </div>
          </div>

          <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elmhurst_milked_oats_front_hr_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Milked Oats™</h3>
              <h4 class="product-single__sub-title social_landing">Original</h4>
              <p>Our oat milk captures a full serving of whole grain from this treasure of the prairie.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a>
            </div>
          </div>

          <div class="product_spotlight social_landing" style="">
            <div style="flex: 0 1 400px">
                <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/products/elm_ecomm_crm_vanl_16oz_carton_R1_Front_540x.jpg" />
            </div>
            <div style="flex: 0 1 800px">
              <h3 class="product-single__title social_landing">Hemp Creamer</h3>
              <h4 class="product-single__sub-title social_landing">French Vanilla</h4>
              <p>Finely-balanced French vanilla indulges your cup with unique Omega-3 (and added oil-free) nutrition.</p>
              <a id="" class="btn" href="/collections/plant-milks/products/unsweetened-milked-almonds" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Read More</a>
            </div>
          </div>


        </section>

        </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('.social-quotes').slick({
        arrows: true,
        slidesToShow: 1,
        slidesToScroll: 1,
        dots: true,
    });
  });
</script>