<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1 class="content" style="color:black;">Subscribe to our newsletter</h1>
      </div>

      <div class="rte">
        {{ page.content }}
        <div class="klaviyo-form-TRwWq4"></div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
    $( "#ContactFooter" ).hide();
});
</script>