<div class="">
  <div class="grid">
    <div class="grid__item">
      <div class="section-header text-center">
        <h1 class="content">{{ page.title }}</h1>
      </div>

      <div class="page-width page-content">
        <section class="content">

  
<!--       <h2 class="h1 text-center" style="margin-top: 20px;">Subscription FAQs</h2> -->
      <button aria-expanded="false" class="accordion">NEW SUBSCRIBERS - SETTING UP YOUR ACCOUNT </button>
      <div class="panel">
        <p>Welcome to our Subscribe & Save program! To get full access to all the options and flexibility you have with a subscription, 
          you’ll need to finish setting up your account.</p>
        <p>Check for an email from <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a> with a link to create your login. Don’t see one yet? Try checking your spam folder or contact us & we’ll resend.</p>
      </div>
    
      <button aria-expanded="false" class="accordion">UPDATING YOUR SUBSCRIPTION </button>
      <div class="panel">
        <p>You can update or make changes to your Subscription order or information at any time using your Elmhurst login. Please note – you’ll need to finalize any changes at least 48 hours before your scheduled Billing Date.</p>
          <p>To access your account – follow the steps below: </p>
        <ol>
          <li>Click on person icon at the top of our website or go to <a href="https://elmhurst1925.com/account" target="_blank">https://elmhurst1925.com/account</a></li>
          <li>Login with the same email address you used at checkout </li>
          <li>Click Manage Subscriptions</li>
          <li>Find the Subscription you’d like to update and click <strong>Edit</strong> </li>
        </ol>
          
      </div>
    
      <button aria-expanded="false" class="accordion">ISSUES ACCESSING YOUR ACCOUNT? </button>
      <div class="panel">
        <p>If you have an active Subscription with us and the account page does not recognize your login, please contact us at <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a> </p>
      </div>
      
    	<button aria-expanded="false" class="accordion">UPDATING YOUR BILLING INFO</button>
      <div class="panel">
        <p>You can update your Payment Method or Billing Info at any time. For changes to be applied to your upcoming delivery, please submit them at least 48 hours before your scheduled billing date. 
        </p>
        <p>To update payment information: </br>
        <ol>
          <li>Log into your account. </li>
          <li>Click Billing Information<br>
          <img style="width:900px; height:450px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/CS_Subscription-Billing_Information.png?v=1669135330" alt="Edit Billing Information"></li>
          <li>Select Payment method on the left-hand side <br>
          <img style="width:450px; height:550px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Select_Payment.png?v=1669137208" alt="Select Payment Method"></li>
          <li>Edit the payment method details & click ‘Update’ to save changes </li>
        </ol>
      </p>
        <p><strong>If you originally checked out using PayPal: </strong><br>
        You can edit the payment method in your PayPal settings. Otherwise, you need to cancel the subscription and start a new subscription via checkout. </p>
        
      </div>
      
    	<button aria-expanded="false" class="accordion">UPDATING YOUR SHIPPING ADDRESS</button>
      <div class="panel">
        <p>You can update the shipping address for your subscription at any time. For changes to be applied to your upcoming delivery, please make sure to 
          submit them at least 48 hours before your scheduled billing date. 
        </p>
        <ol>
          <li>Log into your account </li>
          <li>Click on Subscription</li>
          <li>Click Edit on the subscription you want to update</li>
          <li>Scroll down to Shipping Address.</li>
          <li>Click to expand.</li>
          <li>Edit and update your shipping address.</li>
        </ol><br>
          <p><strong>Note:</strong> This only affects the shipping/delivery address, this does not update the billing address related to the method of payment. 
        <img style="width:450px; height:550px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Skip_Shipment.png?v=1669138269" alt="Skip Shipment"></p>
      </div>
    
      <button aria-expanded="false" class="accordion">SKIPPING A DELIVERY</button>
      <div class="panel">
        <p>You can skip a delivery for your Subscribe & Save order at any time. To skip your next delivery, please make sure to finalize this change at least 48 hours before your scheduled billing date. 
        </p>
        <ol>
          <li>Log into your account </li>
          <li>Select <strong>Manage Subscription</strong></li>
          <li>Select Edit for the order you’d like to skip</li>
          <li>Scroll down until you see the option <strong>Skip Shipment</strong></li>
          <li>Click Skip next to the delivery you would like to skip. </li>
        </ol><br>
          <p><strong>Note:</strong> If you have multiple items in your Subscribe & Save order, you’ll need to repeat these steps for all items you’d like to Skip.<br>
            If you need to <strong>Unskip</strong> all or a part of your order, please contact our team at <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a> <br> <br>
            
        <img style="width:900px; height:400px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/CS_Subscription-DeliverySchedule.png?v=1669138660" alt="Delivery Schedule"></p>
      </div>
    
      <button aria-expanded="false" class="accordion">ADJUSTING YOUR SHIPMENT DATE </button>
      <div class="panel">
        <p>You can adjust your shipment date at any time. To adjust the date of your next delivery, just be sure to finalize this change at least 48 hours before your scheduled billing date. </p>
        <ol>
          <li>Log into your account </li>
          <li>Click Manage Subscriptions and then click on <strong>Edit</strong>.  </li>
          <li>You will be taken to a page where you can edit the next charge date for your subscription.  </li>
          <li>Once you select the new charge date you can click on the Update Next Shipment Date. <br>
          <img style="width:900px; height:450px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/CS_Subscription-Next_Charge_Date.png?v=1669139161"alt="Shipment Date"></li>
        </ol>
      </div>
    
      <button aria-expanded="false" class="accordion">ADJUSTING THE FREQUENCY OF YOUR DELIVERIES </button>
      <div class="panel">
        <p>When you start your subscription, you’ll automatically receive your order every 30 days, but you can customize this at any time. 
          Please note that this may affect your upcoming billing date if changes are made more than 48 hours in advance. </p>
        <ol>
          <li>Log into your account </li>
          <li>Click <strong>Manage Subscriptions</strong> and then click on <strong>Edit</strong>.  </li>
          <li>You will be taken to a page where you can edit the next charge date for your subscription.  </li>
          <li>Select <strong>Delivery Schedule</strong> and you’ll be able to choose from the following options – Every 7 Days, 14 Days or 30 Days. *NOTE: If you have multiple items in your subscription you will need to repeat this step for all items </li>
        </ol><br>
        <p>Don’t see an option that fits your needs? Contact us at <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a> to setup a custom schedule. </p>
      </div>
    
      <button aria-expanded="false" class="accordion">CHANGING OR ADDING TO YOUR SUBSCRIPTION </button>
      <div class="panel">
        <p>You can add or change the products in your Subscribe & Save order at any time. Just be sure to add them at least 48 hours before your scheduled billing date. </p>
        <ol>
          <li>Log into your account </li>
          <li>Click <strong>Mange Subscriptions</strong> </li>
          <li>In the upper right-had corner select <strong>Add Product</strong>  </li>
          <li>A window will open to search for the product you’d like to add to your order. Click Select under the product of your choice </li>
          <li>Choose Subscribe and the Pack Size you’d like </li>
          <li>Select your Frequency* </li>
          <li>Confirm your shipment date & address, then click <strong>Add Product</strong> </li>
          </ol><br>
        <p>* If you don’t see an option that fits your needs, please contact us at <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a> to setup a custom frequency. </p>
      </div>
        
    
      <button aria-expanded="false" class="accordion">ADDING A ONE-TIME ITEM TO YOUR SUBSCRIPTION ORDER</button>
      <div class="panel">
        <p>One-time products can be added to your subscription order. To include one-time products in your next delivery, just be sure to add them at least 48 hours before your scheduled billing date. </p>
        <ol>
          <li>Log into your account </li>
          <li>Click <strong>Mange Subscriptions</strong> </li>
          <li>In the upper right-had corner select <strong>Add Product</strong>  </li>
          <li>A window will open to search for the product you’d like to add to your order. Click Select under the product of your choice </li>
          <li>Choose <strong>One-Time</strong> and the Pack Size you’d like </li>
          <li>Confirm your shipment date & address, then click <strong>Add Product</strong></li>
        </ol><br>
        <p><strong>To manage or delete a one-time product:</strong></p>
        <ol>
          <li>Click the <strong>Delivery Schedule</strong> tab. </li>
          <li>Select <strong>Manage Add-On</strong>.<br>
          <img style="width:900px; height:450px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/CS_Subscription-Manage_Add_On.png?v=1669140051"alt="Manage Add-Ons"></li>
          
        </ol>
      </div>
    
      <button aria-expanded="false" class="accordion">CANCELING YOUR SUBSCRIPTION </button>
      <div class="panel">
        <p>You can cancel your Elmhurst Subscription at any time. Just be sure to cancel at least 48 hours before your scheduled billing date for this to take effect before your next delivery.  </p>
        <ol>
          <li>Log into your account </li>
          <li>Click <strong>Mange Subscriptions</strong> </li>
          <li>Scroll down to the bottom of the page and click <strong>Cancel Subscription</strong>. </li>
          <li>You’ll be prompted with a quick 1 question survey with your reason for canceling, click Next </li>
          <li>Click <strong>Cancel Subscription</strong>to confirm <br>
          <img style="width:450px; height:550px;" src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/CS_Subscription-CancelSubscription.png?v=1669140335"alt="Cancel Subscription"></li>
          
        </ol>
      </div>
    
      <button aria-expanded="false" class="accordion">WHY WAS THE CHARGE FOR MY ORDER DIFFERENT THIS MONTH?</button>
      <div class="panel">
        <p>Prices and shipping rates are subject to change. We’ll do our best to notify you in advance of any changes via email so you can adjust your 
          Subscription to fit your needs. Subscribing to our Email Newsletters is the best way to stay up to date on everything Elmhurst.<br><br>
        If you have any questions or concerns, you can always reach us at <a href = "mailto: cs@elmhurst1925.com">cs@elmhurst1925.com</a>  </p>
        
      </div>
      </section>

        <span style="text-align:center; padding-top:30px;"> <p>Did you know you can text us to manage your subscription too? Sign up for SMS so you never miss an update!</p></span>
  
      <section class="content" style="text-align:center; padding-top:15px; ">
              <a class="btn" href="https://elmhurst1925.com/pages/subscribe-and-save#recharge-sms" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Get Started</a>
              </section>
      
    </div>
    </div>
  </div>
</div>





      
