<div class="page-width">
  <div class="grid">
    <div class="grid__item">


        <div class="rte ebook_landing_optin">
            
          <div class="dessert_ebook_optin_form_container">
            <div class="ebook_optin_form-img_container">
            <img src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Holiday_Ebook_Thumbnail.png" data-src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/Holiday_Ebook_Thumbnail.png" class="lazyload">
            </div>
            <div class="ebook_optin_form-form_container">
              <div style="">
                <h1 class="ebook_optin_header">14 Recipes For </br>The Ultimate Plant-Based Holiday Season</h1>
                <p class="ebook_optin_subheader">YOU'RE ONLY ONE STEP AWAY FROM UNLOCKING YOUR EXCLUSIVE COPY.</p>
              </div>
              <div class="klaviyo-form-SDCEUM"></div>
              
        

            </div>
          </div>


<!--           <div class="grid">
            <div class="grid__item large-up--one-half medium-down--hide">
                <video aria-label="Quick scroll through of dessert e-book showing dessert images and recipes. Download ebook to see contents." controls autoplay="" loop="" muted="" playsinline="" style="max-width:100%">
                  <source src="https://cdn.shopify.com/s/files/1/0066/6360/2223/files/RecipeEbook_ScrollThrough.mp4" type="video/mp4" class="lazyload">
                  </source>
                </video>
            </div> -->

<!--             <div class="grid__item large-up--one-half"> -->
              <div>
              <h1 style="color: #2f4c2c;font-weight:700;text-align: center;">What's Inside</h1>
              <p>Let’s make your holidays simpler– we’ll send a copy of these deliciously dairy-free recipes straight to your inbox.</p>
              <p>Looking for something to celebrate this season, fam? These Elmhurst-style twists on classic holiday comfort foods will be the hit of all your get-togethers, 
                gatherings, fêtes and festivities! We’ve got you from breakfast to dinner, cocktails and dessert. Inside our brand new e-book you’ll find</p>
              <ul style="margin:8px">
                <li>An OatNog Baked French Toast to make mornings extra cozy</li>
                <li>A Peppermint Mocha so light and fluffy, you won’t believe it’s dairy free</li>
                <li>Creamy Caesar Dressing that’ll turn any salad into a crowd-pleaser</li>
                <li>Butternut Squash Risotto so good they’ll be asking for your recipe</li>
                <li>Garlic Mashed Potatoes that’ll have everyone going back for seconds</li>
                <li>A Spiked Iced Chai and Pumpkin Cheesecake to end your night with</li>
              </ul>
            </div>
          </div>

          {% comment %}
          <div class="grid">
            <div class="grid__item one-whole">
              <hr class="optin">
            <section class="pillar" style="text-align:center;margin-bottom:0;">
            <h2 class="ebook_optin_sharelink">Share with a friend</h2>
            <a id="morerecipes" class="btn" href="#" style="color:white;text-decoration: none;font-weight:600;font-size:18px;padding-left:50px;padding-right:50px;text-align: center">Get Link</a>
            </section>
            <hr class="optin">
            </div>
          </div>
          {% endcomment %}


        </div>
    </div>
  </div>
</div>
